# Imports

In [53]:
import sys
import os
import pickle
import numpy as np
import pandas as pd

## Helper Functions

In [54]:
%store -r analysis_hf
sys.path.insert(0, analysis_hf)
import sexToBinary as sb
import wScore
import boxPlot as bp

# Set Directory Paths

In [55]:
# Directory path to load formatted Layer Data
%store -r layer_dataDir

# Directory path to save Calcualted Analysis Data
%store -r layer_CalData

# Directory path to save Figures
%store -r layer_Fig

# Loading

## Loading Formatted Layer Neuron Data (SMI32)

### HC

In [56]:
# SMI32_HC
with open(os.path.join(layer_dataDir, 'SMI32_HC.pkl'), 'rb') as f:
    SMI32_HC = pickle.load(f)
f.close()

In [57]:
SMI32_HC.shape

(32, 12)

### Tau

In [58]:
# SMI32_Tau
with open(os.path.join(layer_dataDir, 'SMI32_Tau.pkl'), 'rb') as f:
    SMI32_Tau = pickle.load(f)
f.close()

In [59]:
SMI32_Tau.shape

(27, 12)

### TDP

In [60]:
# SMI32_TDP
with open(os.path.join(layer_dataDir, 'SMI32_TDP.pkl'), 'rb') as f:
    SMI32_TDP = pickle.load(f)
f.close()

In [61]:
SMI32_TDP.shape

(47, 12)

## Loading Age, Sex, L1-6_SMI32, ADNC values

In [62]:
# SMI32_HC_Age
with open(os.path.join(layer_dataDir, 'SMI32_HC_Age.pkl'), 'rb') as f:
    SMI32_HC_Age = pickle.load(f)
f.close()

# SMI32_HC_Sex
with open(os.path.join(layer_dataDir, 'SMI32_HC_Sex.pkl'), 'rb') as f:
    SMI32_HC_Sex = pickle.load(f)
f.close()

# SMI32_HC_ADNC
with open(os.path.join(layer_dataDir, 'SMI32_HC_ADNC.pkl'), 'rb') as f:
    SMI32_HC_ADNC = pickle.load(f)
f.close()


# SMI32_Tau_Age
with open(os.path.join(layer_dataDir, 'SMI32_Tau_Age.pkl'), 'rb') as f:
    SMI32_Tau_Age = pickle.load(f)
f.close()

# SMI32_Tau_Sex
with open(os.path.join(layer_dataDir, 'SMI32_Tau_Sex.pkl'), 'rb') as f:
    SMI32_Tau_Sex = pickle.load(f)
f.close()

# SMI32_Tau_ADNC
with open(os.path.join(layer_dataDir, 'SMI32_Tau_ADNC.pkl'), 'rb') as f:
    SMI32_Tau_ADNC = pickle.load(f)
f.close()


# SMI32_TDP_Age
with open(os.path.join(layer_dataDir, 'SMI32_TDP_Age.pkl'), 'rb') as f:
    SMI32_TDP_Age = pickle.load(f)
f.close()

# SMI32_TDP_Sex
with open(os.path.join(layer_dataDir, 'SMI32_TDP_Sex.pkl'), 'rb') as f:
    SMI32_TDP_Sex = pickle.load(f)
f.close()

# SMI32_TDP_ADNC
with open(os.path.join(layer_dataDir, 'SMI32_TDP_ADNC.pkl'), 'rb') as f:
    SMI32_TDP_ADNC = pickle.load(f)
f.close()

In [63]:
# SMI32_HC_NeuN_1
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_1.pkl'), 'rb') as f:
    SMI32_HC_NeuN_1 = pickle.load(f)
f.close()
# SMI32_HC_NeuN_2
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_2.pkl'), 'rb') as f:
    SMI32_HC_NeuN_2 = pickle.load(f)
f.close()
# SMI32_HC_NeuN_3d
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_3d.pkl'), 'rb') as f:
    SMI32_HC_NeuN_3d = pickle.load(f)
f.close()
# SMI32_HC_NeuN_3v
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_3v.pkl'), 'rb') as f:
    SMI32_HC_NeuN_3v = pickle.load(f)
f.close()
# SMI32_HC_NeuN_4
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_4.pkl'), 'rb') as f:
    SMI32_HC_NeuN_4 = pickle.load(f)
f.close()
# SMI32_HC_NeuN_5
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_5.pkl'), 'rb') as f:
    SMI32_HC_NeuN_5 = pickle.load(f)
f.close()

In [64]:
# SMI32_Tau_NeuN_1
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_1.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_1 = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_2
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_2.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_2 = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_3d
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_3d.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_3d = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_3v
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_3v.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_3v = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_4
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_4.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_4 = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_5
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_5.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_5 = pickle.load(f)
f.close()

In [65]:
# SMI32_TDP_NeuN_1
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_1.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_1 = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_2
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_2.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_2 = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_3d
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_3d.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_3d = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_3v
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_3v.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_3v = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_4
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_4.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_4 = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_5
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_5.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_5 = pickle.load(f)
f.close()

# Calculating W-Score

## Format Age Values

In [66]:
ageHC = np.array(SMI32_HC_Age).reshape(-1, 1)
ageTau = np.array(SMI32_Tau_Age).reshape(-1, 1)
ageTDP = np.array(SMI32_TDP_Age).reshape(-1, 1)

## Format Sex Values

In [67]:
sexHC = np.array(SMI32_HC_Sex).reshape(-1, 1)
sexTau = np.array(SMI32_Tau_Sex).reshape(-1, 1)
sexTDP = np.array(SMI32_TDP_Sex).reshape(-1, 1)


# Convert Male --> 0 / Female --> 1
sexHC = np.array(sb.sexToBinary(sexHC)).reshape((-1, 1)) 
sexTau = np.array(sb.sexToBinary(sexTau)).reshape((-1, 1)) 
sexTDP = np.array(sb.sexToBinary(sexTDP)).reshape((-1, 1))

## Format L1-6 values

In [68]:
SMI32_HC_NeuN_1 = np.array(SMI32_HC_NeuN_1).reshape(-1, 1)
SMI32_HC_NeuN_2 = np.array(SMI32_HC_NeuN_2).reshape(-1, 1)
SMI32_HC_NeuN_3d = np.array(SMI32_HC_NeuN_3d).reshape(-1, 1)
SMI32_HC_NeuN_3v = np.array(SMI32_HC_NeuN_3v).reshape(-1, 1)
SMI32_HC_NeuN_4 = np.array(SMI32_HC_NeuN_4).reshape(-1, 1)
SMI32_HC_NeuN_5 = np.array(SMI32_HC_NeuN_5).reshape(-1, 1)

SMI32_Tau_NeuN_1 = np.array(SMI32_Tau_NeuN_1).reshape(-1, 1)
SMI32_Tau_NeuN_2 = np.array(SMI32_Tau_NeuN_2).reshape(-1, 1)
SMI32_Tau_NeuN_3d = np.array(SMI32_Tau_NeuN_3d).reshape(-1, 1)
SMI32_Tau_NeuN_3v = np.array(SMI32_Tau_NeuN_3v).reshape(-1, 1)
SMI32_Tau_NeuN_4 = np.array(SMI32_Tau_NeuN_4).reshape(-1, 1)
SMI32_Tau_NeuN_5 = np.array(SMI32_Tau_NeuN_5).reshape(-1, 1)

SMI32_TDP_NeuN_1 = np.array(SMI32_TDP_NeuN_1).reshape(-1, 1)
SMI32_TDP_NeuN_2 = np.array(SMI32_TDP_NeuN_2).reshape(-1, 1)
SMI32_TDP_NeuN_3d = np.array(SMI32_TDP_NeuN_3d).reshape(-1, 1)
SMI32_TDP_NeuN_3v = np.array(SMI32_TDP_NeuN_3v).reshape(-1, 1)
SMI32_TDP_NeuN_4 = np.array(SMI32_TDP_NeuN_4).reshape(-1, 1)
SMI32_TDP_NeuN_5 = np.array(SMI32_TDP_NeuN_5).reshape(-1, 1)

## Format ADNC values

In [69]:
ADNCHC = np.array(SMI32_HC_ADNC).reshape(-1, 1)
ADNCTau = np.array(SMI32_Tau_ADNC).reshape(-1, 1)
ADNCTDP = np.array(SMI32_TDP_ADNC).reshape(-1, 1)

# Convert Male --> 0 / Female --> 1
ADNCHC = np.array(sb.ADNCToBinary(ADNCHC)).reshape((-1, 1)) 
ADNCTau = np.array(sb.ADNCToBinary(ADNCTau)).reshape((-1, 1)) 
ADNCTDP = np.array(sb.ADNCToBinary(ADNCTDP)).reshape((-1, 1))

## Stack Age, Sex Values

In [70]:
# # Stack the Age and Sex features into 2D array
# hcCov_CT1 = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_1, ADNCHC), axis=1) 
# hcCov_CT2 = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_2, ADNCHC), axis=1) 
# hcCov_CT3d = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_3d, ADNCHC), axis=1) 
# hcCov_CT3v = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_3v, ADNCHC), axis=1) 
# hcCov_CT4 = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_4, ADNCHC), axis=1) 
# hcCov_CT5 = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_5, ADNCHC), axis=1) 

# tauCov_CT1 = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_1, ADNCTau), axis=1)  
# tauCov_CT2 = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_2, ADNCTau), axis=1)  
# tauCov_CT3d = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_3d, ADNCTau), axis=1) 
# tauCov_CT3v = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_3v, ADNCTau), axis=1)  
# tauCov_CT4 = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_4, ADNCTau), axis=1)  
# tauCov_CT5 = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_5, ADNCTau), axis=1)  

# tdpCov_CT1 = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_1, ADNCTDP), axis=1)
# tdpCov_CT2 = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_2, ADNCTDP), axis=1)
# tdpCov_CT3d = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_3d, ADNCTDP), axis=1)
# tdpCov_CT3v = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_3v, ADNCTDP), axis=1)
# tdpCov_CT4 = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_4, ADNCTDP), axis=1)
# tdpCov_CT5 = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_5, ADNCTDP), axis=1)


# Stack the Age and Sex features into 2D array
hcCov_CT1 = np.concatenate((ageHC, sexHC), axis=1) 
hcCov_CT2 = np.concatenate((ageHC, sexHC), axis=1) 
hcCov_CT3d = np.concatenate((ageHC, sexHC), axis=1) 
hcCov_CT3v = np.concatenate((ageHC, sexHC), axis=1) 
hcCov_CT4 = np.concatenate((ageHC, sexHC), axis=1) 
hcCov_CT5 = np.concatenate((ageHC, sexHC), axis=1) 

tauCov_CT1 = np.concatenate((ageTau, sexTau), axis=1)  
tauCov_CT2 = np.concatenate((ageTau, sexTau), axis=1)  
tauCov_CT3d = np.concatenate((ageTau, sexTau), axis=1) 
tauCov_CT3v = np.concatenate((ageTau, sexTau), axis=1)  
tauCov_CT4 = np.concatenate((ageTau, sexTau), axis=1)  
tauCov_CT5 = np.concatenate((ageTau, sexTau), axis=1)  

tdpCov_CT1 = np.concatenate((ageTDP, sexTDP), axis=1)
tdpCov_CT2 = np.concatenate((ageTDP, sexTDP), axis=1)
tdpCov_CT3d = np.concatenate((ageTDP, sexTDP), axis=1)
tdpCov_CT3v = np.concatenate((ageTDP, sexTDP), axis=1)
tdpCov_CT4 = np.concatenate((ageTDP, sexTDP), axis=1)
tdpCov_CT5 = np.concatenate((ageTDP, sexTDP), axis=1)

## Divide HC, Tau, TDP into Cortical Types

In [71]:
SMI32_HC_CT1 = SMI32_HC[:, [0, 0+6]]
SMI32_HC_CT2 = SMI32_HC[:, [1, 1+6]]
SMI32_HC_CT3d = SMI32_HC[:, [2, 2+6]]
SMI32_HC_CT3v = SMI32_HC[:, [3, 3+6]]
SMI32_HC_CT4 = SMI32_HC[:, [4, 4+6]]
SMI32_HC_CT5 = SMI32_HC[:, [5, 5+6]]

SMI32_Tau_CT1 = SMI32_Tau[:, [0, 0+6]]
SMI32_Tau_CT2 = SMI32_Tau[:, [1, 1+6]]
SMI32_Tau_CT3d = SMI32_Tau[:, [2, 2+6]]
SMI32_Tau_CT3v = SMI32_Tau[:, [3, 3+6]]
SMI32_Tau_CT4 = SMI32_Tau[:, [4, 4+6]]
SMI32_Tau_CT5 = SMI32_Tau[:, [5, 5+6]]

SMI32_TDP_CT1 = SMI32_TDP[:, [0, 0+6]]
SMI32_TDP_CT2 = SMI32_TDP[:, [1, 1+6]]
SMI32_TDP_CT3d = SMI32_TDP[:, [2, 2+6]]
SMI32_TDP_CT3v = SMI32_TDP[:, [3, 3+6]]
SMI32_TDP_CT4 = SMI32_TDP[:, [4, 4+6]]
SMI32_TDP_CT5 = SMI32_TDP[:, [5, 5+6]]

## Number of regions we are analyzing (N = 10)

In [72]:
#N = SMI32_HC_L.shape[1]
N=2

## Calculate the W-Scores

In [73]:
# L
## CT1
SMI32_HC_w_CT1, SMI32_Tau_w_CT1, SMI32_TDP_w_CT1 = wScore.generateWScore(hcCov_CT1, tauCov_CT1, tdpCov_CT1, 
                                                                            N, 
                                                                            SMI32_HC_CT1, 
                                                                            SMI32_Tau_CT1,  
                                                                            SMI32_TDP_CT1)
## CT2
SMI32_HC_w_CT2, SMI32_Tau_w_CT2, SMI32_TDP_w_CT2 = wScore.generateWScore(hcCov_CT2, tauCov_CT2, tdpCov_CT2, 
                                                                            N, 
                                                                            SMI32_HC_CT2, 
                                                                            SMI32_Tau_CT2,  
                                                                            SMI32_TDP_CT2)
## CT3d
SMI32_HC_w_CT3d, SMI32_Tau_w_CT3d, SMI32_TDP_w_CT3d = wScore.generateWScore(hcCov_CT3d, tauCov_CT3d, tdpCov_CT3d, 
                                                                            N, 
                                                                            SMI32_HC_CT3d, 
                                                                            SMI32_Tau_CT3d,  
                                                                            SMI32_TDP_CT3d)

## CT3v
SMI32_HC_w_CT3v, SMI32_Tau_w_CT3v, SMI32_TDP_w_CT3v = wScore.generateWScore(hcCov_CT3v, tauCov_CT3v, tdpCov_CT3v, 
                                                                            N, 
                                                                            SMI32_HC_CT3v, 
                                                                            SMI32_Tau_CT3v,  
                                                                            SMI32_TDP_CT3v)
## CT4
SMI32_HC_w_CT4, SMI32_Tau_w_CT4, SMI32_TDP_w_CT4 = wScore.generateWScore(hcCov_CT4, tauCov_CT4, tdpCov_CT4, 
                                                                            N, 
                                                                            SMI32_HC_CT4, 
                                                                            SMI32_Tau_CT4,  
                                                                            SMI32_TDP_CT4)
## CT5
SMI32_HC_w_CT5, SMI32_Tau_w_CT5, SMI32_TDP_w_CT5 = wScore.generateWScore(hcCov_CT5, tauCov_CT5, tdpCov_CT5, 
                                                                            N, 
                                                                            SMI32_HC_CT5, 
                                                                            SMI32_Tau_CT5,  
                                                                            SMI32_TDP_CT5)

In [74]:
SMI32_HC_w = np.zeros(SMI32_HC.shape)
SMI32_Tau_w = np.zeros(SMI32_Tau.shape)
SMI32_TDP_w = np.zeros(SMI32_TDP.shape)

for i in range(6):
    if i == 0:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT1
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT1
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT1
        
    elif i == 1:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT2
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT2
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT2
        
    elif i == 2:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT3d
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT3d
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT3d

    elif i == 3:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT3v
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT3v
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT3v
        
    elif i == 4:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT4
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT4
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT4
        
    else:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT5
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT5
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT5

# Saving

In [75]:
# SMI32_HC_w
with open(os.path.join(layer_dataDir, 'SMI32_HC_w.pkl'), 'wb') as f:
    pickle.dump(SMI32_HC_w, f)
f.close()

# SMI32_Tau_w
with open(os.path.join(layer_dataDir, 'SMI32_Tau_w.pkl'), 'wb') as f:
    pickle.dump(SMI32_Tau_w, f)
f.close()

# SMI32_TDP_w
with open(os.path.join(layer_dataDir, 'SMI32_TDP_w.pkl'), 'wb') as f:
    pickle.dump(SMI32_TDP_w, f)
f.close()

In [76]:
data = SMI32_HC

# Count NaN values in each column
nan_count_per_column = np.sum(np.isnan(data), axis=0)

print("Number of NaN values in each column (BEFORE W-Score):")
print(nan_count_per_column)

data = SMI32_HC_w
# Count NaN values in each column
nan_count_per_column = np.sum(np.isnan(data), axis=0)

print("Number of NaN values in each column (AFTER W-Score):")
print(nan_count_per_column)

Number of NaN values in each column (BEFORE W-Score):
[10  3 11  8  4 12 10  3 11  8  4 12]
Number of NaN values in each column (AFTER W-Score):
[10  3 11  8  4 12 10  3 11  8  4 12]

In [77]:
pd.DataFrame(SMI32_HC)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-5.869131,-5.744920,-4.548573,-5.413872,-4.899720,NaN,-4.073712,-5.013531,-4.332087,-5.253855,-5.422852,NaN
1,-5.238671,-5.105950,-4.684143,NaN,-3.927986,NaN,-3.585200,-3.719539,-4.037910,NaN,-3.580504,NaN
2,-5.465241,-4.816392,-3.508269,-5.002003,-4.187601,NaN,-3.557127,-3.726821,-3.246522,-4.202041,-3.982749,NaN
3,NaN,NaN,NaN,-5.387686,-4.973551,-4.172748,NaN,NaN,NaN,-3.328625,-3.890836,-3.750120
4,NaN,-4.412542,-3.775226,-4.355858,-3.869681,NaN,NaN,-3.539319,-3.412546,-3.961696,-3.453590,NaN
5,-4.852664,-4.693026,-3.281627,-4.190608,-4.036916,NaN,-2.946921,-3.144695,-2.737165,-2.793355,-3.244698,NaN
6,NaN,-3.560408,NaN,-4.981651,-3.728623,NaN,NaN,-3.092845,NaN,-4.057526,-3.263553,NaN
7,-4.436848,-4.449497,NaN,NaN,NaN,NaN,-3.673699,-3.541702,NaN,NaN,NaN,NaN
8,-4.762823,-4.487605,-3.716629,-4.612493,-4.154042,-4.034499,-3.282939,-3.053923,-2.980388,-3.258961,-3.103941,-3.280713
9,-6.820417,-6.235636,-5.042981,NaN,-4.546491,NaN,-4.356166,-4.776006,-4.021718,NaN,-3.887942,NaN
10,-5.666501,-3.767018,-3.096435,NaN,-4.309830,NaN,-3.446930,-2.936868,-2.808367,NaN,-3.616548,NaN
11,NaN,-4.139595,-4.469776,-3.944666,-3.586816,-3.847632,NaN,-3.344110,-3.653347,-3.322812,-3.287657,-3.490392
12,-6.918591,-7.071622,NaN,-7.175581,-6.849041,-4.791063,-4.377048,-4.368432,NaN,-5.245764,-4.966655,-4.475967
13,NaN,-6.172683,-5.045901,-5.166870,-4.879495,NaN,NaN,-4.511702,-4.194753,-4.899384,-4.715824,NaN
14,-3.688273,-4.263021,-3.588690,NaN,NaN,-3.308420,-2.900213,-2.795211,-2.751108,NaN,NaN,-3.350119
15,-5.634161,-5.213589,-3.996230,-4.311577,-3.398889,-3.423748,-2.900153,-2.890935,-2.733868,-2.818764,-2.674549,-2.986647
16,NaN,-5.975830,NaN,-3.700884,-3.511605,-3.777947,NaN,-3.278930,NaN,-2.832024,-2.767875,-3.475766
17,-5.438886,-4.111186,NaN,NaN,NaN,-4.139751,-4.068231,-3.442995,NaN,NaN,NaN,-3.363466
18,-2.637379,-3.265025,NaN,-3.280559,-3.157080,-4.010533,-2.735615,-3.108415,NaN,-3.079843,-2.784381,-3.571222
19,-5.483855,-4.271080,-3.518540,-3.751203,-4.086943,-3.772287,-3.302318,-3.393504,-3.178007,-2.963957,-3.048885,-3.373737
20,NaN,NaN,NaN,-5.653527,-3.932815,NaN,NaN,NaN,NaN,-3.536989,-3.218707,NaN
21,NaN,NaN,NaN,-5.069504,-4.191615,-4.030137,NaN,NaN,NaN,-4.948053,-4.095775,-4.101104
22,-7.047698,-6.264424,-5.345297,-4.790287,-3.951819,-3.726087,-4.338389,-4.864692,-4.446578,-3.770983,-3.492627,-4.393582
23,NaN,-4.966727,-4.513793,-4.947556,-3.955824,-3.229196,NaN,-3.661071,-3.437275,-3.609309,-3.166923,-3.095155
24,NaN,-4.324524,-3.734981,NaN,NaN,NaN,NaN,-3.265703,-3.179836,NaN,NaN,NaN
25,-5.379637,-5.021137,-3.623613,-4.445547,-3.891680,-2.945153,-3.186956,-3.229457,-3.074443,-3.324407,-3.257187,-3.082760
26,-7.112383,-5.163160,-3.924491,-4.853715,-3.969397,-3.929954,-4.501612,-4.317834,-4.128227,-5.194081,-4.557860,-3.559366
27,-5.706248,-4.585075,-4.569081,-5.011277,-3.677906,-3.197671,-3.070061,-2.962384,-3.430561,-3.401234,-3.271586,-3.367953
28,-6.458445,-5.157632,NaN,-3.901645,-3.753337,-3.788816,-4.499168,-3.857250,NaN,-3.472484,-3.394915,-3.150519
29,-4.828004,-4.864924,-3.215018,NaN,-4.369924,-3.293476,-2.948480,-3.003991,-2.659026,NaN,-3.324940,-3.236743
30,-6.452599,-5.707639,-4.333237,-4.856690,-3.954187,-3.824089,-3.601457,-3.618508,-3.255232,-2.998869,-3.178205,-3.935603
31,-5.154752,-5.266374,NaN,-3.641696,-3.807996,-3.366898,-3.643018,-4.225525,NaN,-4.447455,-3.873601,-3.214186

In [78]:
pd.DataFrame(SMI32_HC_w)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.202189,-0.793840,-0.636674,-0.822893,-1.197018,NaN,-0.716025,-2.068222,-1.451953,-1.674973,-2.734832,NaN
1,0.721662,0.190303,-0.426860,NaN,0.843668,NaN,0.353901,0.265819,-0.561217,NaN,0.738829,NaN
2,-0.440279,-0.154125,0.246177,-1.697903,-1.071690,NaN,-0.169022,-0.296194,0.034030,-1.188373,-1.308474,NaN
3,NaN,NaN,NaN,-0.465046,-1.091142,-0.898377,NaN,NaN,NaN,1.054074,-0.025656,-0.168315
4,NaN,0.933600,0.965810,1.128011,0.768906,NaN,NaN,0.504260,0.553979,0.321647,0.791751,NaN
5,0.780576,0.449477,1.508733,0.875153,0.169745,NaN,1.310961,1.037960,1.661303,1.558465,0.824169,NaN
6,NaN,1.737343,NaN,-0.383663,0.546694,NaN,NaN,1.083406,NaN,-0.202345,0.690394,NaN
7,0.849303,0.387868,NaN,NaN,NaN,NaN,-0.319546,-0.158318,NaN,NaN,NaN,NaN
8,0.692829,0.565118,0.528013,-0.112347,-0.294332,-1.024959,0.600307,1.086998,1.010699,0.697808,0.796742,0.495046
9,-1.052091,-1.322991,-1.376247,NaN,-0.526055,NaN,-1.181656,-1.632697,-0.775784,NaN,-0.123894,NaN
10,0.044559,1.474302,1.858657,NaN,0.153415,NaN,0.322005,1.071010,1.090346,NaN,0.131218,NaN
11,NaN,0.957625,-0.613376,1.375437,1.131615,0.047199,NaN,0.333034,-0.664540,0.670917,0.514161,0.311761
12,-1.096174,-2.380806,NaN,-2.707613,-3.757516,-2.030154,-1.308709,-1.267650,NaN,-1.607322,-1.971828,-1.931974
13,NaN,-1.369144,-1.442508,-0.080016,-0.748986,NaN,NaN,-1.546513,-1.615852,-1.251645,-1.664948,NaN
14,2.080968,1.084897,1.232864,NaN,NaN,1.295738,1.501173,1.720671,1.809926,NaN,NaN,0.927811
15,-0.028938,-0.311813,0.188511,0.866118,1.429309,1.097672,1.241890,1.086254,1.130264,1.333307,1.515949,1.615061
16,NaN,-1.321095,NaN,0.751210,0.444811,-0.649832,NaN,0.611179,NaN,1.010076,1.088441,-0.315765
17,-0.154432,0.762312,NaN,NaN,NaN,-1.145922,-1.050509,-0.014625,NaN,NaN,NaN,0.089047
18,2.589109,1.787889,NaN,1.654307,1.366698,-0.773562,1.367973,0.561845,NaN,0.592154,0.924622,-0.387231
19,-0.267754,0.522455,0.460392,0.759871,-0.273416,-0.339536,0.284817,0.026899,-0.123532,0.595173,0.337985,-0.059993
20,NaN,NaN,NaN,-1.559301,0.193568,NaN,NaN,NaN,NaN,0.041158,0.266437,NaN
21,NaN,NaN,NaN,-0.507479,-0.049273,-0.613615,NaN,NaN,NaN,-1.663904,-1.012200,-1.513221
22,-1.411523,-1.458747,-2.083462,-0.118026,0.193132,-0.104253,-1.234629,-1.861571,-1.745773,0.174212,0.316098,-2.200492
23,NaN,0.005406,-0.639093,0.063671,0.602780,1.631943,NaN,-0.173418,-0.207605,0.344178,0.762917,1.395560
24,NaN,0.204959,-0.394326,NaN,NaN,NaN,NaN,0.035646,-0.478779,NaN,NaN,NaN
25,-0.201912,-0.389530,0.233645,-0.284341,-0.019808,1.658138,0.471103,0.279194,0.043456,0.071734,-0.053855,0.631595
26,-1.229611,0.020952,0.664229,0.356547,0.555239,-0.244550,-1.379586,-0.810071,-0.878184,-1.347635,-1.064058,0.386443
27,-0.009785,0.602506,-0.622581,-0.183665,0.794158,1.361666,1.110681,1.361346,0.342975,0.809384,0.831720,0.636738
28,-1.105265,-0.449133,NaN,0.792161,0.422170,-0.224100,-1.804485,-0.682790,NaN,0.076169,-0.072963,0.701221
29,0.401273,-0.154023,1.023187,NaN,-0.665976,0.899188,0.942575,0.694674,0.924677,NaN,-0.061593,0.355674
30,-1.029769,-1.048365,-0.675088,-0.372815,0.215421,-0.207251,-0.147114,-0.245243,-0.098434,0.798080,0.384098,-1.207499
31,0.069445,-0.533399,NaN,0.672622,-0.136116,0.264568,-0.196104,-1.002885,NaN,-1.212339,-0.821230,0.238535