# Imports

In [27]:
import sys
import os
import pickle
import numpy as np
import pandas as pd

## Helper Functions

In [28]:
%store -r analysis_hf
sys.path.insert(0, analysis_hf)
import sexToBinary as sb
import wScore
import boxPlot as bp

# Set Directory Paths

In [29]:
# Directory path to load formatted Layer Data
%store -r layer_dataDir

# Directory path to save Calcualted Analysis Data
%store -r layer_CalData

# Directory path to save Figures
%store -r layer_Fig

# Loading

## Loading Formatted Layer Neuron Data (SMI32)

### HC

In [30]:
# SMI32_HC
with open(os.path.join(layer_dataDir, 'SMI32_HC.pkl'), 'rb') as f:
    SMI32_HC = pickle.load(f)
f.close()

In [31]:
SMI32_HC.shape

(32, 12)

### Tau

In [32]:
# SMI32_Tau
with open(os.path.join(layer_dataDir, 'SMI32_Tau.pkl'), 'rb') as f:
    SMI32_Tau = pickle.load(f)
f.close()

In [33]:
SMI32_Tau.shape

(27, 12)

### TDP

In [34]:
# SMI32_TDP
with open(os.path.join(layer_dataDir, 'SMI32_TDP.pkl'), 'rb') as f:
    SMI32_TDP = pickle.load(f)
f.close()

In [35]:
SMI32_TDP.shape

(47, 12)

## Loading Age, Sex, L1-6_SMI32, ADNC values

In [36]:
# SMI32_HC_Age
with open(os.path.join(layer_dataDir, 'SMI32_HC_Age.pkl'), 'rb') as f:
    SMI32_HC_Age = pickle.load(f)
f.close()

# SMI32_HC_Sex
with open(os.path.join(layer_dataDir, 'SMI32_HC_Sex.pkl'), 'rb') as f:
    SMI32_HC_Sex = pickle.load(f)
f.close()

# SMI32_HC_ADNC
with open(os.path.join(layer_dataDir, 'SMI32_HC_ADNC.pkl'), 'rb') as f:
    SMI32_HC_ADNC = pickle.load(f)
f.close()


# SMI32_Tau_Age
with open(os.path.join(layer_dataDir, 'SMI32_Tau_Age.pkl'), 'rb') as f:
    SMI32_Tau_Age = pickle.load(f)
f.close()

# SMI32_Tau_Sex
with open(os.path.join(layer_dataDir, 'SMI32_Tau_Sex.pkl'), 'rb') as f:
    SMI32_Tau_Sex = pickle.load(f)
f.close()

# SMI32_Tau_ADNC
with open(os.path.join(layer_dataDir, 'SMI32_Tau_ADNC.pkl'), 'rb') as f:
    SMI32_Tau_ADNC = pickle.load(f)
f.close()


# SMI32_TDP_Age
with open(os.path.join(layer_dataDir, 'SMI32_TDP_Age.pkl'), 'rb') as f:
    SMI32_TDP_Age = pickle.load(f)
f.close()

# SMI32_TDP_Sex
with open(os.path.join(layer_dataDir, 'SMI32_TDP_Sex.pkl'), 'rb') as f:
    SMI32_TDP_Sex = pickle.load(f)
f.close()

# SMI32_TDP_ADNC
with open(os.path.join(layer_dataDir, 'SMI32_TDP_ADNC.pkl'), 'rb') as f:
    SMI32_TDP_ADNC = pickle.load(f)
f.close()

In [37]:
# SMI32_HC_NeuN_1
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_1.pkl'), 'rb') as f:
    SMI32_HC_NeuN_1 = pickle.load(f)
f.close()
# SMI32_HC_NeuN_2
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_2.pkl'), 'rb') as f:
    SMI32_HC_NeuN_2 = pickle.load(f)
f.close()
# SMI32_HC_NeuN_3d
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_3d.pkl'), 'rb') as f:
    SMI32_HC_NeuN_3d = pickle.load(f)
f.close()
# SMI32_HC_NeuN_3v
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_3v.pkl'), 'rb') as f:
    SMI32_HC_NeuN_3v = pickle.load(f)
f.close()
# SMI32_HC_NeuN_4
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_4.pkl'), 'rb') as f:
    SMI32_HC_NeuN_4 = pickle.load(f)
f.close()
# SMI32_HC_NeuN_5
with open(os.path.join(layer_dataDir, 'SMI32_HC_NeuN_5.pkl'), 'rb') as f:
    SMI32_HC_NeuN_5 = pickle.load(f)
f.close()

In [38]:
# SMI32_Tau_NeuN_1
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_1.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_1 = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_2
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_2.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_2 = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_3d
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_3d.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_3d = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_3v
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_3v.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_3v = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_4
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_4.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_4 = pickle.load(f)
f.close()
# SMI32_Tau_NeuN_5
with open(os.path.join(layer_dataDir, 'SMI32_Tau_NeuN_5.pkl'), 'rb') as f:
    SMI32_Tau_NeuN_5 = pickle.load(f)
f.close()

In [39]:
# SMI32_TDP_NeuN_1
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_1.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_1 = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_2
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_2.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_2 = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_3d
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_3d.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_3d = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_3v
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_3v.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_3v = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_4
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_4.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_4 = pickle.load(f)
f.close()
# SMI32_TDP_NeuN_5
with open(os.path.join(layer_dataDir, 'SMI32_TDP_NeuN_5.pkl'), 'rb') as f:
    SMI32_TDP_NeuN_5 = pickle.load(f)
f.close()

# Calculating W-Score

## Format Age Values

In [40]:
ageHC = np.array(SMI32_HC_Age).reshape(-1, 1)
ageTau = np.array(SMI32_Tau_Age).reshape(-1, 1)
ageTDP = np.array(SMI32_TDP_Age).reshape(-1, 1)

## Format Sex Values

In [41]:
sexHC = np.array(SMI32_HC_Sex).reshape(-1, 1)
sexTau = np.array(SMI32_Tau_Sex).reshape(-1, 1)
sexTDP = np.array(SMI32_TDP_Sex).reshape(-1, 1)


# Convert Male --> 0 / Female --> 1
sexHC = np.array(sb.sexToBinary(sexHC)).reshape((-1, 1)) 
sexTau = np.array(sb.sexToBinary(sexTau)).reshape((-1, 1)) 
sexTDP = np.array(sb.sexToBinary(sexTDP)).reshape((-1, 1))

## Format L1-6 values

In [42]:
SMI32_HC_NeuN_1 = np.array(SMI32_HC_NeuN_1).reshape(-1, 1)
SMI32_HC_NeuN_2 = np.array(SMI32_HC_NeuN_2).reshape(-1, 1)
SMI32_HC_NeuN_3d = np.array(SMI32_HC_NeuN_3d).reshape(-1, 1)
SMI32_HC_NeuN_3v = np.array(SMI32_HC_NeuN_3v).reshape(-1, 1)
SMI32_HC_NeuN_4 = np.array(SMI32_HC_NeuN_4).reshape(-1, 1)
SMI32_HC_NeuN_5 = np.array(SMI32_HC_NeuN_5).reshape(-1, 1)

SMI32_Tau_NeuN_1 = np.array(SMI32_Tau_NeuN_1).reshape(-1, 1)
SMI32_Tau_NeuN_2 = np.array(SMI32_Tau_NeuN_2).reshape(-1, 1)
SMI32_Tau_NeuN_3d = np.array(SMI32_Tau_NeuN_3d).reshape(-1, 1)
SMI32_Tau_NeuN_3v = np.array(SMI32_Tau_NeuN_3v).reshape(-1, 1)
SMI32_Tau_NeuN_4 = np.array(SMI32_Tau_NeuN_4).reshape(-1, 1)
SMI32_Tau_NeuN_5 = np.array(SMI32_Tau_NeuN_5).reshape(-1, 1)

SMI32_TDP_NeuN_1 = np.array(SMI32_TDP_NeuN_1).reshape(-1, 1)
SMI32_TDP_NeuN_2 = np.array(SMI32_TDP_NeuN_2).reshape(-1, 1)
SMI32_TDP_NeuN_3d = np.array(SMI32_TDP_NeuN_3d).reshape(-1, 1)
SMI32_TDP_NeuN_3v = np.array(SMI32_TDP_NeuN_3v).reshape(-1, 1)
SMI32_TDP_NeuN_4 = np.array(SMI32_TDP_NeuN_4).reshape(-1, 1)
SMI32_TDP_NeuN_5 = np.array(SMI32_TDP_NeuN_5).reshape(-1, 1)

## Format ADNC values

In [43]:
ADNCHC = np.array(SMI32_HC_ADNC).reshape(-1, 1)
ADNCTau = np.array(SMI32_Tau_ADNC).reshape(-1, 1)
ADNCTDP = np.array(SMI32_TDP_ADNC).reshape(-1, 1)

# Convert Male --> 0 / Female --> 1
ADNCHC = np.array(sb.ADNCToBinary(ADNCHC)).reshape((-1, 1)) 
ADNCTau = np.array(sb.ADNCToBinary(ADNCTau)).reshape((-1, 1)) 
ADNCTDP = np.array(sb.ADNCToBinary(ADNCTDP)).reshape((-1, 1))

## Stack Age, Sex Values

In [44]:
# Stack the Age and Sex features into 2D array
hcCov_CT1 = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_1, ADNCHC), axis=1) 
hcCov_CT2 = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_2, ADNCHC), axis=1) 
hcCov_CT3d = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_3d, ADNCHC), axis=1) 
hcCov_CT3v = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_3v, ADNCHC), axis=1) 
hcCov_CT4 = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_4, ADNCHC), axis=1) 
hcCov_CT5 = np.concatenate((ageHC, sexHC, SMI32_HC_NeuN_5, ADNCHC), axis=1) 

tauCov_CT1 = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_1, ADNCTau), axis=1)  
tauCov_CT2 = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_2, ADNCTau), axis=1)  
tauCov_CT3d = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_3d, ADNCTau), axis=1) 
tauCov_CT3v = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_3v, ADNCTau), axis=1)  
tauCov_CT4 = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_4, ADNCTau), axis=1)  
tauCov_CT5 = np.concatenate((ageTau, sexTau, SMI32_Tau_NeuN_5, ADNCTau), axis=1)  

tdpCov_CT1 = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_1, ADNCTDP), axis=1)
tdpCov_CT2 = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_2, ADNCTDP), axis=1)
tdpCov_CT3d = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_3d, ADNCTDP), axis=1)
tdpCov_CT3v = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_3v, ADNCTDP), axis=1)
tdpCov_CT4 = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_4, ADNCTDP), axis=1)
tdpCov_CT5 = np.concatenate((ageTDP, sexTDP, SMI32_TDP_NeuN_5, ADNCTDP), axis=1)


# # Stack the Age and Sex features into 2D array
# hcCov_CT1 = np.concatenate((ageHC, sexHC), axis=1) 
# hcCov_CT2 = np.concatenate((ageHC, sexHC), axis=1) 
# hcCov_CT3d = np.concatenate((ageHC, sexHC), axis=1) 
# hcCov_CT3v = np.concatenate((ageHC, sexHC), axis=1) 
# hcCov_CT4 = np.concatenate((ageHC, sexHC), axis=1) 
# hcCov_CT5 = np.concatenate((ageHC, sexHC), axis=1) 

# tauCov_CT1 = np.concatenate((ageTau, sexTau), axis=1)  
# tauCov_CT2 = np.concatenate((ageTau, sexTau), axis=1)  
# tauCov_CT3d = np.concatenate((ageTau, sexTau), axis=1) 
# tauCov_CT3v = np.concatenate((ageTau, sexTau), axis=1)  
# tauCov_CT4 = np.concatenate((ageTau, sexTau), axis=1)  
# tauCov_CT5 = np.concatenate((ageTau, sexTau), axis=1)  

# tdpCov_CT1 = np.concatenate((ageTDP, sexTDP), axis=1)
# tdpCov_CT2 = np.concatenate((ageTDP, sexTDP), axis=1)
# tdpCov_CT3d = np.concatenate((ageTDP, sexTDP), axis=1)
# tdpCov_CT3v = np.concatenate((ageTDP, sexTDP), axis=1)
# tdpCov_CT4 = np.concatenate((ageTDP, sexTDP), axis=1)
# tdpCov_CT5 = np.concatenate((ageTDP, sexTDP), axis=1)

## Divide HC, Tau, TDP into Cortical Types

In [45]:
SMI32_HC_CT1 = SMI32_HC[:, [0, 0+6]]
SMI32_HC_CT2 = SMI32_HC[:, [1, 1+6]]
SMI32_HC_CT3d = SMI32_HC[:, [2, 2+6]]
SMI32_HC_CT3v = SMI32_HC[:, [3, 3+6]]
SMI32_HC_CT4 = SMI32_HC[:, [4, 4+6]]
SMI32_HC_CT5 = SMI32_HC[:, [5, 5+6]]

SMI32_Tau_CT1 = SMI32_Tau[:, [0, 0+6]]
SMI32_Tau_CT2 = SMI32_Tau[:, [1, 1+6]]
SMI32_Tau_CT3d = SMI32_Tau[:, [2, 2+6]]
SMI32_Tau_CT3v = SMI32_Tau[:, [3, 3+6]]
SMI32_Tau_CT4 = SMI32_Tau[:, [4, 4+6]]
SMI32_Tau_CT5 = SMI32_Tau[:, [5, 5+6]]

SMI32_TDP_CT1 = SMI32_TDP[:, [0, 0+6]]
SMI32_TDP_CT2 = SMI32_TDP[:, [1, 1+6]]
SMI32_TDP_CT3d = SMI32_TDP[:, [2, 2+6]]
SMI32_TDP_CT3v = SMI32_TDP[:, [3, 3+6]]
SMI32_TDP_CT4 = SMI32_TDP[:, [4, 4+6]]
SMI32_TDP_CT5 = SMI32_TDP[:, [5, 5+6]]

## Number of regions we are analyzing (N = 10)

In [46]:
#N = SMI32_HC_L.shape[1]
N=2

## Calculate the W-Scores

In [47]:
# L
## CT1
SMI32_HC_w_CT1, SMI32_Tau_w_CT1, SMI32_TDP_w_CT1 = wScore.generateWScore(hcCov_CT1, tauCov_CT1, tdpCov_CT1, 
                                                                            N, 
                                                                            SMI32_HC_CT1, 
                                                                            SMI32_Tau_CT1,  
                                                                            SMI32_TDP_CT1)
## CT2
SMI32_HC_w_CT2, SMI32_Tau_w_CT2, SMI32_TDP_w_CT2 = wScore.generateWScore(hcCov_CT2, tauCov_CT2, tdpCov_CT2, 
                                                                            N, 
                                                                            SMI32_HC_CT2, 
                                                                            SMI32_Tau_CT2,  
                                                                            SMI32_TDP_CT2)
## CT3d
SMI32_HC_w_CT3d, SMI32_Tau_w_CT3d, SMI32_TDP_w_CT3d = wScore.generateWScore(hcCov_CT3d, tauCov_CT3d, tdpCov_CT3d, 
                                                                            N, 
                                                                            SMI32_HC_CT3d, 
                                                                            SMI32_Tau_CT3d,  
                                                                            SMI32_TDP_CT3d)

## CT3v
SMI32_HC_w_CT3v, SMI32_Tau_w_CT3v, SMI32_TDP_w_CT3v = wScore.generateWScore(hcCov_CT3v, tauCov_CT3v, tdpCov_CT3v, 
                                                                            N, 
                                                                            SMI32_HC_CT3v, 
                                                                            SMI32_Tau_CT3v,  
                                                                            SMI32_TDP_CT3v)
## CT4
SMI32_HC_w_CT4, SMI32_Tau_w_CT4, SMI32_TDP_w_CT4 = wScore.generateWScore(hcCov_CT4, tauCov_CT4, tdpCov_CT4, 
                                                                            N, 
                                                                            SMI32_HC_CT4, 
                                                                            SMI32_Tau_CT4,  
                                                                            SMI32_TDP_CT4)
## CT5
SMI32_HC_w_CT5, SMI32_Tau_w_CT5, SMI32_TDP_w_CT5 = wScore.generateWScore(hcCov_CT5, tauCov_CT5, tdpCov_CT5, 
                                                                            N, 
                                                                            SMI32_HC_CT5, 
                                                                            SMI32_Tau_CT5,  
                                                                            SMI32_TDP_CT5)

In [48]:
SMI32_HC_w = np.zeros(SMI32_HC.shape)
SMI32_Tau_w = np.zeros(SMI32_Tau.shape)
SMI32_TDP_w = np.zeros(SMI32_TDP.shape)

for i in range(6):
    if i == 0:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT1
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT1
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT1
        
    elif i == 1:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT2
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT2
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT2
        
    elif i == 2:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT3d
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT3d
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT3d

    elif i == 3:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT3v
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT3v
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT3v
        
    elif i == 4:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT4
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT4
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT4
        
    else:
        SMI32_HC_w[:, [i, i+6]] = SMI32_HC_w_CT5
        SMI32_Tau_w[:, [i, i+6]] = SMI32_Tau_w_CT5
        SMI32_TDP_w[:, [i, i+6]] = SMI32_TDP_w_CT5

# Saving

In [49]:
# SMI32_HC_w
with open(os.path.join(layer_dataDir, 'SMI32_HC_w_agesexNeuNADNC.pkl'), 'wb') as f:
    pickle.dump(SMI32_HC_w, f)
f.close()

# SMI32_Tau_w
with open(os.path.join(layer_dataDir, 'SMI32_Tau_w_agesexNeuNADNC.pkl'), 'wb') as f:
    pickle.dump(SMI32_Tau_w, f)
f.close()

# SMI32_TDP_w
with open(os.path.join(layer_dataDir, 'SMI32_TDP_w_agesexNeuNADNC.pkl'), 'wb') as f:
    pickle.dump(SMI32_TDP_w, f)
f.close()

In [50]:
data = SMI32_HC

# Count NaN values in each column
nan_count_per_column = np.sum(np.isnan(data), axis=0)

print("Number of NaN values in each column (BEFORE W-Score):")
print(nan_count_per_column)

data = SMI32_HC_w
# Count NaN values in each column
nan_count_per_column = np.sum(np.isnan(data), axis=0)

print("Number of NaN values in each column (AFTER W-Score):")
print(nan_count_per_column)

Number of NaN values in each column (BEFORE W-Score):
[10  3 11  8  4 12 10  3 11  8  4 12]
Number of NaN values in each column (AFTER W-Score):
[10  3 11  8  4 12 10  3 11  8  4 12]

In [51]:
pd.DataFrame(SMI32_HC)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-5.869131,-5.744920,-4.548573,-5.413872,-4.899720,NaN,-4.073712,-5.013531,-4.332087,-5.253855,-5.422852,NaN
1,-5.238671,-5.105950,-4.684143,NaN,-3.927986,NaN,-3.585200,-3.719539,-4.037910,NaN,-3.580504,NaN
2,-5.465241,-4.816392,-3.508269,-5.002003,-4.187601,NaN,-3.557127,-3.726821,-3.246522,-4.202041,-3.982749,NaN
3,NaN,NaN,NaN,-5.387686,-4.973551,-4.172748,NaN,NaN,NaN,-3.328625,-3.890836,-3.750120
4,NaN,-4.412542,-3.775226,-4.355858,-3.869681,NaN,NaN,-3.539319,-3.412546,-3.961696,-3.453590,NaN
5,-4.852664,-4.693026,-3.281627,-4.190608,-4.036916,NaN,-2.946921,-3.144695,-2.737165,-2.793355,-3.244698,NaN
6,NaN,-3.560408,NaN,-4.981651,-3.728623,NaN,NaN,-3.092845,NaN,-4.057526,-3.263553,NaN
7,-4.436848,-4.449497,NaN,NaN,NaN,NaN,-3.673699,-3.541702,NaN,NaN,NaN,NaN
8,-4.762823,-4.487605,-3.716629,-4.612493,-4.154042,-4.034499,-3.282939,-3.053923,-2.980388,-3.258961,-3.103941,-3.280713
9,-6.820417,-6.235636,-5.042981,NaN,-4.546491,NaN,-4.356166,-4.776006,-4.021718,NaN,-3.887942,NaN
10,-5.666501,-3.767018,-3.096435,NaN,-4.309830,NaN,-3.446930,-2.936868,-2.808367,NaN,-3.616548,NaN
11,NaN,-4.139595,-4.469776,-3.944666,-3.586816,-3.847632,NaN,-3.344110,-3.653347,-3.322812,-3.287657,-3.490392
12,-6.918591,-7.071622,NaN,-7.175581,-6.849041,-4.791063,-4.377048,-4.368432,NaN,-5.245764,-4.966655,-4.475967
13,NaN,-6.172683,-5.045901,-5.166870,-4.879495,NaN,NaN,-4.511702,-4.194753,-4.899384,-4.715824,NaN
14,-3.688273,-4.263021,-3.588690,NaN,NaN,-3.308420,-2.900213,-2.795211,-2.751108,NaN,NaN,-3.350119
15,-5.634161,-5.213589,-3.996230,-4.311577,-3.398889,-3.423748,-2.900153,-2.890935,-2.733868,-2.818764,-2.674549,-2.986647
16,NaN,-5.975830,NaN,-3.700884,-3.511605,-3.777947,NaN,-3.278930,NaN,-2.832024,-2.767875,-3.475766
17,-5.438886,-4.111186,NaN,NaN,NaN,-4.139751,-4.068231,-3.442995,NaN,NaN,NaN,-3.363466
18,-2.637379,-3.265025,NaN,-3.280559,-3.157080,-4.010533,-2.735615,-3.108415,NaN,-3.079843,-2.784381,-3.571222
19,-5.483855,-4.271080,-3.518540,-3.751203,-4.086943,-3.772287,-3.302318,-3.393504,-3.178007,-2.963957,-3.048885,-3.373737
20,NaN,NaN,NaN,-5.653527,-3.932815,NaN,NaN,NaN,NaN,-3.536989,-3.218707,NaN
21,NaN,NaN,NaN,-5.069504,-4.191615,-4.030137,NaN,NaN,NaN,-4.948053,-4.095775,-4.101104
22,-7.047698,-6.264424,-5.345297,-4.790287,-3.951819,-3.726087,-4.338389,-4.864692,-4.446578,-3.770983,-3.492627,-4.393582
23,NaN,-4.966727,-4.513793,-4.947556,-3.955824,-3.229196,NaN,-3.661071,-3.437275,-3.609309,-3.166923,-3.095155
24,NaN,-4.324524,-3.734981,NaN,NaN,NaN,NaN,-3.265703,-3.179836,NaN,NaN,NaN
25,-5.379637,-5.021137,-3.623613,-4.445547,-3.891680,-2.945153,-3.186956,-3.229457,-3.074443,-3.324407,-3.257187,-3.082760
26,-7.112383,-5.163160,-3.924491,-4.853715,-3.969397,-3.929954,-4.501612,-4.317834,-4.128227,-5.194081,-4.557860,-3.559366
27,-5.706248,-4.585075,-4.569081,-5.011277,-3.677906,-3.197671,-3.070061,-2.962384,-3.430561,-3.401234,-3.271586,-3.367953
28,-6.458445,-5.157632,NaN,-3.901645,-3.753337,-3.788816,-4.499168,-3.857250,NaN,-3.472484,-3.394915,-3.150519
29,-4.828004,-4.864924,-3.215018,NaN,-4.369924,-3.293476,-2.948480,-3.003991,-2.659026,NaN,-3.324940,-3.236743
30,-6.452599,-5.707639,-4.333237,-4.856690,-3.954187,-3.824089,-3.601457,-3.618508,-3.255232,-2.998869,-3.178205,-3.935603
31,-5.154752,-5.266374,NaN,-3.641696,-3.807996,-3.366898,-3.643018,-4.225525,NaN,-4.447455,-3.873601,-3.214186

In [52]:
pd.DataFrame(SMI32_HC_w)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.129908,-0.734889,-0.498539,-0.766823,-1.373519,NaN,-0.602244,-2.022488,-1.484644,-2.183910,-3.074185,NaN
1,0.636951,0.216384,-0.984343,NaN,1.426379,NaN,0.230500,0.153608,-0.819072,NaN,1.146563,NaN
2,-0.682950,-0.480955,-0.076345,-1.324613,-0.387984,NaN,-0.474635,-0.452364,0.029545,-0.561920,-0.635132,NaN
3,NaN,NaN,NaN,-0.053091,-0.759083,-1.320560,NaN,NaN,NaN,1.495655,0.398960,-0.505127
4,NaN,1.110818,1.177891,1.198414,1.056540,NaN,NaN,0.568925,0.534100,-0.061666,0.588042,NaN
5,0.869816,0.396578,1.817196,0.899001,0.239486,NaN,1.445123,1.101867,1.737110,1.393097,0.676787,NaN
6,NaN,1.693501,NaN,-0.637137,0.628190,NaN,NaN,1.144223,NaN,-0.337648,0.557513,NaN
7,0.694890,0.649899,NaN,NaN,NaN,NaN,-0.474374,-0.251550,NaN,NaN,NaN,NaN
8,0.651374,1.019153,0.641082,0.296671,0.193862,0.200189,0.699186,1.117126,0.912829,0.251690,0.766616,1.799676
9,-0.971888,-1.326459,-1.127984,NaN,-1.321615,NaN,-1.059667,-1.578765,-0.632524,NaN,-0.440750,NaN
10,-0.040601,1.655067,1.613997,NaN,0.176770,NaN,0.245237,1.010872,0.884652,NaN,0.318340,NaN
11,NaN,0.731148,-0.784707,1.530569,1.091656,-0.314000,NaN,0.281933,-0.662162,1.130372,0.737252,-0.024716
12,-1.198764,-2.140819,NaN,-2.466147,-3.411790,-1.226583,-1.388175,-1.339297,NaN,-1.652280,-1.825953,-1.187915
13,NaN,-1.460257,-1.605928,-0.205559,-0.716010,NaN,NaN,-1.607072,-1.569156,-0.868561,-1.555604,NaN
14,2.066178,0.892436,0.855867,NaN,NaN,1.259617,1.359468,1.616431,1.693876,NaN,NaN,0.765416
15,-0.161191,-0.025643,-0.106229,1.367609,2.034040,1.199054,1.156357,1.012897,0.964689,1.587476,1.864668,1.688520
16,NaN,-1.069322,NaN,0.778337,0.558636,-0.603237,NaN,0.636060,NaN,0.970334,1.079213,-0.226040
17,-0.016560,0.772920,NaN,NaN,NaN,-1.815403,-0.916534,0.091108,NaN,NaN,NaN,-0.261640
18,2.685842,1.911753,NaN,1.129658,0.876871,-1.159554,1.536398,0.667792,NaN,0.617304,0.592843,-0.587674
19,-0.366082,0.384825,0.315651,1.178750,-0.107404,-0.289762,0.112844,-0.053464,-0.140109,1.036465,0.730546,-0.134827
20,NaN,NaN,NaN,-2.052838,-0.075105,NaN,NaN,NaN,NaN,-0.160879,-0.068766,NaN
21,NaN,NaN,NaN,-0.169554,0.729548,0.381529,NaN,NaN,NaN,-1.519504,-0.701460,-0.831605
22,-1.331464,-1.367542,-2.064774,0.141258,0.064402,-0.174538,-1.140524,-1.821573,-1.835425,-0.263898,0.143115,-2.427597
23,NaN,-0.442387,-0.045242,-0.483424,-0.165628,1.193434,NaN,-0.026577,0.099478,0.135328,0.287932,1.115497
24,NaN,0.371098,-0.725192,NaN,NaN,NaN,NaN,-0.080449,-0.659568,NaN,NaN,NaN
25,-0.094977,-0.447715,0.694070,-0.155002,-0.048872,2.348253,0.601768,0.381499,0.156446,-0.399284,-0.311644,1.116020
26,-1.315980,-0.301084,0.456685,0.142036,0.396568,-0.229292,-1.548578,-0.918989,-0.796691,-0.647702,-0.785069,0.414475
27,0.126394,0.499510,-0.196736,-0.775911,-0.074714,0.771894,1.247166,1.431084,0.660896,0.934066,0.549501,0.116458
28,-0.956527,-0.670687,NaN,0.388149,-0.036357,-0.614861,-1.672251,-0.568055,NaN,-0.057947,-0.439123,0.547979
29,0.367548,-0.492100,1.040543,NaN,-0.472692,0.539996,0.781358,0.627445,1.073996,NaN,0.306888,-0.184222
30,-0.913578,-0.797102,-0.396963,-0.062212,0.124972,-0.242104,0.017373,-0.147081,-0.148266,0.151511,0.064080,-1.255418
31,0.081476,-0.548127,NaN,0.101858,-0.647148,0.095927,-0.155793,-0.975144,NaN,-0.988098,-0.971175,0.062739