# Imports

In [34]:
import os
import pandas as pd
import numpy as np
import scipy
import pickle
import sys

In [35]:
%store -r loadData_hf
sys.path.insert(0, loadData_hf)
import findPathCoM

# Set Directory Paths

In [36]:
# Location of the data folder
%store -r dataDir

# Directory path where Data will be saved to
%store -r gfap_ferritin_dataDir

# Only used to load the FTDGeneralData_20221114.mat file --> Saved as NetworkDataGeneral
%store -r baseDir

# Loading the preconstructed atlas data

In [37]:
# loads the preconstructed Atlas data
NetworkDataGeneral = scipy.io.loadmat(os.path.join(baseDir, 'NetworkAnalysisGeneral', 'FTDGeneralData_20221114.mat'))

# Loading GFAP, Ferritin Dataset - %AO

In [38]:
gfap_ferr_T = pd.read_csv(os.path.join(dataDir, 'GFAP_Ferritin', 'FTLD AO output 162024INDDID.csv'))

In [39]:
gfap_ferr_T

,AutopsyID,BlockID,Hemisphere,Region,Ferritin,GFAP,AT8,TDP43,INDDID
0,1986-003,1986-003-12F,N,MFC,NaN,0.054025,NaN,NaN,103121.0
1,1986-003,1986-003-12F,R,MFC,0.006197,NaN,NaN,NaN,103121.0
2,1986-003,1986-003-13F,R,M1,0.024898,0.054097,NaN,NaN,103121.0
3,1986-003,1986-003-61F,R,HIP,NaN,NaN,0.000154,NaN,103121.0
4,1995-005,1995-005-04E,R,OFC,0.026164,0.051511,NaN,0.004535,111517.0
...,...,...,...,...,...,...,...,...,...
3289,2018-216,2018-216-27F,L,OFC,NaN,NaN,0.006361,NaN,119113.0
3290,2018-216,2018-216-28F,L,V1,NaN,NaN,0.000256,NaN,119113.0
3291,2018-216,2018-216-29F,L,ANG,NaN,NaN,0.007745,NaN,119113.0
3292,2018-216,2018-216-30F,L,aCING,NaN,NaN,0.004663,NaN,119113.0
3293,2018-216,2018-216-33F,L,SMTC,NaN,NaN,0.001553,NaN,119113.0

In [40]:
len(gfap_ferr_T['INDDID'].unique())

312

In [41]:
len(gfap_ferr_T['AutopsyID'].unique())

312

In [42]:
np.sort(gfap_ferr_T['Region'].unique())

array(['ANG', 'ATC', 'HIP', 'IFC', 'M1', 'MFC', 'OFC', 'PC', 'PFC', 'S1',
       'SMTC', 'SPC', 'V1', 'aCING', 'aINS', 'aITC', 'diPFC', 'dlPFC',
       'iPFC', 'mPFC', 'mePFC', 'pCING', 'pSTC'], dtype=object)

# Load IronGlia_FTLD_INDDIDs Data

In [43]:
ironGlia_T = pd.read_excel(os.path.join(dataDir, 'GFAP_Ferritin', 'Copy of IronGlia_FTLD_INDDIDs Neuopath dx code.xlsx'))

In [44]:
ironGlia_T

,INDDID,0Cont1TDP2Tau,1ExcludeALSorLATE,NPDx1,NPDx1Likelihood,NPDx2,NPDx2Likelihood,NPDx3,NPDx3Likelihood,NPDx4,NPDx4Likelihood,NPDx5,NPDx5Likelihood,NPDxOther,Braak03,ABeta,Braak06,CERAD,FTLDTDP
0,102215.00,0,0,Alzheimer's disease,Possible (Low Probability),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN,0,Non-specified
1,116519.00,0,0,Alzheimer's disease,Possible (Low Probability),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN,0,NaN
2,118415.00,0,0,Alzheimer's disease,Possible (Low Probability),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,NaN
3,118624.00,0,0,Alzheimer's disease,Possible (Low Probability),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,NaN
4,119338.00,0,0,Alzheimer's disease,Possible (Low Probability),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,110306.00,2,0,Tauopathy unclassifiable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
308,119113.00,2,0,Tauopathy unclassifiable,NaN,Alzheimer's disease,Possible (Low Probability),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,0,NaN
309,101799.02,0,0,Unremarkable adult brain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,NaN
310,119337.00,0,0,Unremarkable adult brain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
311,120393.00,0,0,Unremarkable adult brain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,Non-specified

In [45]:
len(ironGlia_T['INDDID'].unique())

312

In [46]:
np.equal(np.sort(gfap_ferr_T['INDDID'].unique()), np.sort(ironGlia_T['INDDID'].unique())).sum()

312

# Merging DataFrames by INDDID

In [47]:
gfap_ferr_T_merged = pd.merge(gfap_ferr_T, ironGlia_T, on='INDDID', how='outer')[['INDDID', 'AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'Ferritin', 'GFAP', 'AT8', 'TDP43', '0Cont1TDP2Tau', '1ExcludeALSorLATE']]

In [48]:
gfap_ferr_T_merged

,INDDID,AutopsyID,BlockID,Hemisphere,Region,Ferritin,GFAP,AT8,TDP43,0Cont1TDP2Tau,1ExcludeALSorLATE
0,103121.0,1986-003,1986-003-12F,N,MFC,NaN,0.054025,NaN,NaN,2,0
1,103121.0,1986-003,1986-003-12F,R,MFC,0.006197,NaN,NaN,NaN,2,0
2,103121.0,1986-003,1986-003-13F,R,M1,0.024898,0.054097,NaN,NaN,2,0
3,103121.0,1986-003,1986-003-61F,R,HIP,NaN,NaN,0.000154,NaN,2,0
4,111517.0,1995-005,1995-005-04E,R,OFC,0.026164,0.051511,NaN,0.004535,1,0
...,...,...,...,...,...,...,...,...,...,...,...
3289,119113.0,2018-216,2018-216-27F,L,OFC,NaN,NaN,0.006361,NaN,2,0
3290,119113.0,2018-216,2018-216-28F,L,V1,NaN,NaN,0.000256,NaN,2,0
3291,119113.0,2018-216,2018-216-29F,L,ANG,NaN,NaN,0.007745,NaN,2,0
3292,119113.0,2018-216,2018-216-30F,L,aCING,NaN,NaN,0.004663,NaN,2,0
3293,119113.0,2018-216,2018-216-33F,L,SMTC,NaN,NaN,0.001553,NaN,2,0

## Exclude where 1ExcludeALSorLATE == 1

In [49]:
gfap_ferr_T_merged = gfap_ferr_T_merged[gfap_ferr_T_merged['1ExcludeALSorLATE'] != 1]

In [50]:
gfap_ferr_T_merged

,INDDID,AutopsyID,BlockID,Hemisphere,Region,Ferritin,GFAP,AT8,TDP43,0Cont1TDP2Tau,1ExcludeALSorLATE
0,103121.0,1986-003,1986-003-12F,N,MFC,NaN,0.054025,NaN,NaN,2,0
1,103121.0,1986-003,1986-003-12F,R,MFC,0.006197,NaN,NaN,NaN,2,0
2,103121.0,1986-003,1986-003-13F,R,M1,0.024898,0.054097,NaN,NaN,2,0
3,103121.0,1986-003,1986-003-61F,R,HIP,NaN,NaN,0.000154,NaN,2,0
4,111517.0,1995-005,1995-005-04E,R,OFC,0.026164,0.051511,NaN,0.004535,1,0
...,...,...,...,...,...,...,...,...,...,...,...
3289,119113.0,2018-216,2018-216-27F,L,OFC,NaN,NaN,0.006361,NaN,2,0
3290,119113.0,2018-216,2018-216-28F,L,V1,NaN,NaN,0.000256,NaN,2,0
3291,119113.0,2018-216,2018-216-29F,L,ANG,NaN,NaN,0.007745,NaN,2,0
3292,119113.0,2018-216,2018-216-30F,L,aCING,NaN,NaN,0.004663,NaN,2,0
3293,119113.0,2018-216,2018-216-33F,L,SMTC,NaN,NaN,0.001553,NaN,2,0

In [51]:
len(gfap_ferr_T_merged['INDDID'].unique())

271

## Format the GFAP, Ferritin Data - %AO to desired format

### Get HC, Tau(AT8) vs TDP43 Groups

In [52]:
gfap_ferr_type = gfap_ferr_T_merged.groupby('0Cont1TDP2Tau')

# HC
hc_T = gfap_ferr_type.get_group(0)

# Tau
tau_T = gfap_ferr_type.get_group(2)

# TDP
tdp_T = gfap_ferr_type.get_group(1)


# AutopsyID
hc_INDDIDs = hc_T['INDDID'].unique().tolist()
tau_INDDIDs = tau_T['INDDID'].unique().tolist()
tdp_INDDIDs = tdp_T['INDDID'].unique().tolist()
print(f'Number of Unique HC INDDIDs is: {len(hc_INDDIDs)}')
print(f'Number of Unique TAU INDDIDs is: {len(tau_INDDIDs)}')
print(f'Number of Unique TDP INDDIDs is: {len(tdp_INDDIDs)}')

Number of Unique HC INDDIDs is: 34
Number of Unique TAU INDDIDs is: 138
Number of Unique TDP INDDIDs is: 99

In [53]:
len(gfap_ferr_type.groups[0]) + len(gfap_ferr_type.groups[1]) + len(gfap_ferr_type.groups[2])

2970

In [54]:
hc_T

,INDDID,AutopsyID,BlockID,Hemisphere,Region,Ferritin,GFAP,AT8,TDP43,0Cont1TDP2Tau,1ExcludeALSorLATE
32,100987.0,1996-195,1996-195-01F,L,M1,NaN,0.025683,NaN,NaN,0,0
33,100987.0,1996-195,1996-195-03F,L,MFC,0.012061,0.036583,NaN,NaN,0,0
34,100987.0,1996-195,1996-195-04F,L,OFC,0.006810,0.038579,NaN,NaN,0,0
320,101428.0,2006-165,2006-165-20F,R,V1,NaN,0.037763,NaN,NaN,0,0
321,101428.0,2006-165,2006-165-21F,R,ANG,0.020529,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1824,122872.0,2017-191,2017-191-26F,L,OFC,0.016819,0.026307,NaN,NaN,0,0
1825,122872.0,2017-191,2017-191-28F,L,ANG,0.014324,NaN,NaN,NaN,0,0
1826,122872.0,2017-191,2017-191-28F,N,ANG,NaN,0.026408,NaN,NaN,0,0
1827,122872.0,2017-191,2017-191-29F,L,aCING,0.020662,NaN,NaN,NaN,0,0
1828,122872.0,2017-191,2017-191-32F,L,SMTC,0.003080,NaN,NaN,NaN,0,0

In [55]:
tau_T

,INDDID,AutopsyID,BlockID,Hemisphere,Region,Ferritin,GFAP,AT8,TDP43,0Cont1TDP2Tau,1ExcludeALSorLATE
0,103121.0,1986-003,1986-003-12F,N,MFC,NaN,0.054025,NaN,NaN,2,0
1,103121.0,1986-003,1986-003-12F,R,MFC,0.006197,NaN,NaN,NaN,2,0
2,103121.0,1986-003,1986-003-13F,R,M1,0.024898,0.054097,NaN,NaN,2,0
3,103121.0,1986-003,1986-003-61F,R,HIP,NaN,NaN,0.000154,NaN,2,0
9,110745.0,1995-057,1995-057-03E,L,MFC,0.033260,0.040396,0.133789,NaN,2,0
...,...,...,...,...,...,...,...,...,...,...,...
3289,119113.0,2018-216,2018-216-27F,L,OFC,NaN,NaN,0.006361,NaN,2,0
3290,119113.0,2018-216,2018-216-28F,L,V1,NaN,NaN,0.000256,NaN,2,0
3291,119113.0,2018-216,2018-216-29F,L,ANG,NaN,NaN,0.007745,NaN,2,0
3292,119113.0,2018-216,2018-216-30F,L,aCING,NaN,NaN,0.004663,NaN,2,0
3293,119113.0,2018-216,2018-216-33F,L,SMTC,NaN,NaN,0.001553,NaN,2,0

In [56]:
tdp_T

,INDDID,AutopsyID,BlockID,Hemisphere,Region,Ferritin,GFAP,AT8,TDP43,0Cont1TDP2Tau,1ExcludeALSorLATE
4,111517.0,1995-005,1995-005-04E,R,OFC,0.026164,0.051511,NaN,0.004535,1,0
5,111517.0,1995-005,1995-005-08E,R,ANG,0.022526,NaN,NaN,0.002226,1,0
6,111517.0,1995-005,1995-005-02E,R,M1,NaN,NaN,NaN,0.000940,1,0
7,111517.0,1995-005,1995-005-06E,R,pSTC,NaN,NaN,NaN,0.000495,1,0
8,111517.0,1995-005,1995-005-17E,R,HIP,NaN,NaN,NaN,0.003235,1,0
...,...,...,...,...,...,...,...,...,...,...,...
3234,120720.0,2016-126,2016-126-28F,L,MFC,NaN,NaN,NaN,0.000013,1,0
3235,120720.0,2016-126,2016-126-30F,L,OFC,NaN,NaN,NaN,0.000222,1,0
3236,120720.0,2016-126,2016-126-31F,L,V1,NaN,NaN,NaN,0.000128,1,0
3237,120720.0,2016-126,2016-126-33F,L,aCING,NaN,NaN,NaN,0.000065,1,0
3238,120720.0,2016-126,2016-126-36F,L,SMTC,NaN,NaN,NaN,0.000143,1,0

### Common INDDIDs between TAU vs TDP43

In [57]:
# Convert lists to sets and find the intersection
common_elements = set(tau_INDDIDs).intersection(tdp_INDDIDs)

# Check if there are any common elements
if common_elements:
    print("Common elements:", common_elements)
else:
    print("No common elements")

No common elements

## HC - Divide into GFAP vs Ferritin

### GFAP

In [58]:
# Get HC GFAP
hc_GFAP_T = hc_T[['AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'GFAP']]

hc_GFAP_T_formatted = pd.pivot_table(hc_GFAP_T, values='GFAP', index=['AutopsyID', 'Hemisphere'], 
                            columns=['Region'], aggfunc=np.sum).reset_index()

# Add in 13 Columns with NaN values (default - end of the dataframe)
hc_GFAP_T_formatted['ATC'] = np.NaN  
hc_GFAP_T_formatted['HIP'] = np.NaN  
hc_GFAP_T_formatted['IFC'] = np.NaN  
hc_GFAP_T_formatted['PC'] = np.NaN  
hc_GFAP_T_formatted['S1'] = np.NaN  
hc_GFAP_T_formatted['SPC'] = np.NaN  
hc_GFAP_T_formatted['aINS'] = np.NaN  
hc_GFAP_T_formatted['aITC'] = np.NaN  
hc_GFAP_T_formatted['dlPFC'] = np.NaN  
hc_GFAP_T_formatted['iPFC'] = np.NaN  
hc_GFAP_T_formatted['mPFC'] = np.NaN  
hc_GFAP_T_formatted['pCING'] = np.NaN  
hc_GFAP_T_formatted['pSTC'] = np.NaN  

# Reorder
new_column_order = ['AutopsyID', 'Hemisphere', 'ANG', 'ATC', 'HIP', 'IFC', 'M1', 'MFC',
                    'OFC', 'PC', 'S1', 'SMTC', 'SPC', 'V1', 'aCING', 'aINS', 'aITC', 
                    'dlPFC', 'iPFC', 'mPFC', 'pCING', 'pSTC']
hc_GFAP_T_formatted = hc_GFAP_T_formatted[new_column_order]

# Divide into L, R hemisphere
hc_GFAP_T_formatted_type = hc_GFAP_T_formatted.groupby('Hemisphere')

print(f'Hemisphere types: {hc_GFAP_T_formatted_type.groups.keys()}')

# Left Hemisphere
hc_GFAP_T_formatted_L = hc_GFAP_T_formatted_type.get_group('L')
# Right Hemisphere
hc_GFAP_T_formatted_R = hc_GFAP_T_formatted_type.get_group('R')

hc_GFAP_LR = pd.merge(hc_GFAP_T_formatted_L, hc_GFAP_T_formatted_R, 
                          left_on=['AutopsyID'], 
                          right_on=['AutopsyID'], how='outer', suffixes=('_L', '_R'))

# Drop Hemisphere_by_slide {L, R} Columns
hc_GFAP_LR = hc_GFAP_LR.drop(columns=['Hemisphere_L', 'Hemisphere_R'])

# Drop Rows where all the values are NaNs or 0.0

# Specify columns to check
columns_to_check = hc_GFAP_LR.columns.tolist()[1:] # exclude the AutopsyID

# Create a mask where all specified columns are either NaN or 0.0
mask = (hc_GFAP_LR[columns_to_check] == 0) | hc_GFAP_LR[columns_to_check].isna()
rows_to_drop = mask.all(axis=1)

# Drop these rows
hc_GFAP_final = hc_GFAP_LR[~rows_to_drop]

Hemisphere types: dict_keys(['L', 'N', 'R'])

In [59]:
# Count non NaN and non zero values for each column
non_zero_non_nan_counts = (hc_GFAP_final != 0) & hc_GFAP_final.notna()
counts = non_zero_non_nan_counts.sum()

print(counts)

Region
AutopsyID    28
ANG_L         0
ATC_L         0
HIP_L         0
IFC_L         0
M1_L          5
MFC_L         8
OFC_L        12
PC_L          0
S1_L          0
SMTC_L        0
SPC_L         0
V1_L          4
aCING_L       0
aINS_L        0
aITC_L        0
dlPFC_L       0
iPFC_L        0
mPFC_L        0
pCING_L       0
pSTC_L        0
ANG_R         0
ATC_R         0
HIP_R         0
IFC_R         0
M1_R          6
MFC_R         8
OFC_R        14
PC_R          0
S1_R          0
SMTC_R        0
SPC_R         0
V1_R          6
aCING_R       0
aINS_R        0
aITC_R        0
dlPFC_R       0
iPFC_R        0
mPFC_R        0
pCING_R       0
pSTC_R        0
dtype: int64

### Ferritin

In [60]:
hc_Ferritin_T = hc_T[['AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'Ferritin']]

hc_Ferritin_T_formatted = pd.pivot_table(hc_Ferritin_T, values='Ferritin', index=['AutopsyID', 'Hemisphere'], 
                            columns=['Region'], aggfunc=np.sum).reset_index()

# Add in 13 Columns with NaN values (default - end of the dataframe)
hc_Ferritin_T_formatted['ATC'] = np.NaN  
hc_Ferritin_T_formatted['HIP'] = np.NaN  
hc_Ferritin_T_formatted['IFC'] = np.NaN  
hc_Ferritin_T_formatted['PC'] = np.NaN  
hc_Ferritin_T_formatted['S1'] = np.NaN  
hc_Ferritin_T_formatted['SPC'] = np.NaN  
hc_Ferritin_T_formatted['aINS'] = np.NaN  
hc_Ferritin_T_formatted['aITC'] = np.NaN  
hc_Ferritin_T_formatted['dlPFC'] = np.NaN  
hc_Ferritin_T_formatted['iPFC'] = np.NaN  
hc_Ferritin_T_formatted['mPFC'] = np.NaN  
hc_Ferritin_T_formatted['pCING'] = np.NaN  
hc_Ferritin_T_formatted['pSTC'] = np.NaN  


# Reorder
new_column_order = ['AutopsyID', 'Hemisphere', 'ANG', 'ATC', 'HIP', 'IFC', 'M1', 'MFC',
                    'OFC', 'PC', 'S1', 'SMTC', 'SPC', 'V1', 'aCING', 'aINS', 'aITC', 
                    'dlPFC', 'iPFC', 'mPFC', 'pCING', 'pSTC']
hc_Ferritin_T_formatted = hc_Ferritin_T_formatted[new_column_order]

hc_Ferritin_T_formatted_type = hc_Ferritin_T_formatted.groupby('Hemisphere')

print(f'Hemisphere types: {hc_Ferritin_T_formatted_type.groups.keys()}')

# Left Hemisphere
hc_Ferritin_T_formatted_L = hc_Ferritin_T_formatted_type.get_group('L')
# Right Hemisphere
hc_Ferritin_T_formatted_R = hc_Ferritin_T_formatted_type.get_group('R')

hc_Ferritin_LR = pd.merge(hc_Ferritin_T_formatted_L, hc_Ferritin_T_formatted_R, 
                          left_on=['AutopsyID'], 
                          right_on=['AutopsyID'], how='outer', suffixes=('_L', '_R'))

# Drop Hemisphere_by_slide {L, R} Columns
hc_Ferritin_LR = hc_Ferritin_LR.drop(columns=['Hemisphere_L', 'Hemisphere_R'])

# Drop Rows where all the values are NaNs or 0.0

# Specify columns to check
columns_to_check = hc_Ferritin_LR.columns.tolist()[1:] # exclude the AutopsyID

# Create a mask where all specified columns are either NaN or 0.0
mask = (hc_Ferritin_LR[columns_to_check] == 0) | hc_Ferritin_LR[columns_to_check].isna()
rows_to_drop = mask.all(axis=1)

# Drop these rows
hc_Ferritin_final = hc_Ferritin_LR[~rows_to_drop]

Hemisphere types: dict_keys(['L', 'N', 'R'])

In [61]:
# Count non NaN and non zero values for each column
non_zero_non_nan_counts = (hc_Ferritin_final != 0) & hc_Ferritin_final.notna()
counts = non_zero_non_nan_counts.sum()

print(counts)

Region
AutopsyID    29
ANG_L        10
ATC_L         0
HIP_L         0
IFC_L         0
M1_L          0
MFC_L         8
OFC_L        13
PC_L          0
S1_L          0
SMTC_L       10
SPC_L         0
V1_L          0
aCING_L      10
aINS_L        0
aITC_L        0
dlPFC_L       0
iPFC_L        0
mPFC_L        0
pCING_L       0
pSTC_L        0
ANG_R        12
ATC_R         0
HIP_R         0
IFC_R         0
M1_R          0
MFC_R         7
OFC_R        13
PC_R          0
S1_R          0
SMTC_R        9
SPC_R         0
V1_R          0
aCING_R       9
aINS_R        0
aITC_R        0
dlPFC_R       0
iPFC_R        0
mPFC_R        0
pCING_R       0
pSTC_R        0
dtype: int64

## TAU(AT8) - Divide into GFAP vs Ferritin

### TAU PATHOLOGY

In [62]:
# Get Tau Pathology
tau_path_T = tau_T[['AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'AT8']]

tau_path_T_formatted = pd.pivot_table(tau_path_T, values='AT8', index=['AutopsyID', 'Hemisphere'], 
                            columns=['Region'], aggfunc=np.sum).reset_index()

# Drop PFC, mePFC regions
tau_path_T_formatted = tau_path_T_formatted.drop(columns = ['PFC', 'mePFC'])

# Add in mPFC Columns with NaN values (default - end of the dataframe)
tau_path_T_formatted['mPFC'] = np.NaN  

# Reorder
new_column_order = ['AutopsyID', 'Hemisphere', 'ANG', 'ATC', 'HIP', 'IFC', 'M1', 'MFC',
                    'OFC', 'PC', 'S1', 'SMTC', 'SPC', 'V1', 'aCING', 'aINS', 'aITC', 
                    'dlPFC', 'iPFC', 'mPFC', 'pCING', 'pSTC']
tau_path_T_formatted = tau_path_T_formatted[new_column_order]

# Divide into L, R hemisphere
tau_path_T_formatted_type = tau_path_T_formatted.groupby('Hemisphere')

print(f'Hemisphere types: {tau_path_T_formatted_type.groups.keys()}')

# Left Hemisphere
tau_path_T_formatted_L = tau_path_T_formatted_type.get_group('L')
# Right Hemisphere
tau_path_T_formatted_R = tau_path_T_formatted_type.get_group('R')

tau_path_LR = pd.merge(tau_path_T_formatted_L, tau_path_T_formatted_R, 
                          left_on=['AutopsyID'], 
                          right_on=['AutopsyID'], how='outer', suffixes=('_L', '_R'))

# Drop Hemisphere_by_slide {L, R} Columns
tau_path_LR = tau_path_LR.drop(columns=['Hemisphere_L', 'Hemisphere_R'])

# Drop Rows where all the values are NaNs or 0.0

# Specify columns to check
columns_to_check = tau_path_LR.columns.tolist()[1:] # exclude the AutopsyID

# Create a mask where all specified columns are either NaN or 0.0
mask = (tau_path_LR[columns_to_check] == 0) | tau_path_LR[columns_to_check].isna()
rows_to_drop = mask.all(axis=1)

# Drop these rows
tau_path_final = tau_path_LR[~rows_to_drop]

Hemisphere types: dict_keys(['L', 'N', 'R'])

In [63]:
tau_path_final

Region,AutopsyID,ANG_L,ATC_L,HIP_L,IFC_L,M1_L,MFC_L,OFC_L,PC_L,S1_L,...,SPC_R,V1_R,aCING_R,aINS_R,aITC_R,dlPFC_R,iPFC_R,mPFC_R,pCING_R,pSTC_R
0,1995-057,0.000000,NaN,0.057006,NaN,NaN,0.133789,0.126244,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-066,NaN,NaN,0.014490,NaN,0.016883,0.003340,0.004534,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-151,0.001284,NaN,0.000848,NaN,0.024328,0.001744,0.000653,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000-216,0.000000,NaN,NaN,NaN,0.191235,0.178768,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2002-073,0.002188,NaN,NaN,NaN,0.021486,0.004836,0.000763,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2013-216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000796,0.003865,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,2016-220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000370,0.000921,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,2017-148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000546,0.041177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,2017-158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000039,0.050493,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,2017-171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000105,0.002190,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### GFAP

In [64]:
# Get Tau GFAP
tau_GFAP_T = tau_T[['AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'GFAP']]

tau_GFAP_T_formatted = pd.pivot_table(tau_GFAP_T, values='GFAP', index=['AutopsyID', 'Hemisphere'], 
                            columns=['Region'], aggfunc=np.sum).reset_index()

# Drop PFC, mePFC regions
tau_GFAP_T_formatted = tau_GFAP_T_formatted.drop(columns = ['PFC', 'mePFC'])

# Add in mPFC Columns with NaN values (default - end of the dataframe)
tau_GFAP_T_formatted['mPFC'] = np.NaN  

# Reorder
new_column_order = ['AutopsyID', 'Hemisphere', 'ANG', 'ATC', 'HIP', 'IFC', 'M1', 'MFC',
                    'OFC', 'PC', 'S1', 'SMTC', 'SPC', 'V1', 'aCING', 'aINS', 'aITC', 
                    'dlPFC', 'iPFC', 'mPFC', 'pCING', 'pSTC']
tau_GFAP_T_formatted = tau_GFAP_T_formatted[new_column_order]

# Divide into L, R hemisphere
tau_GFAP_T_formatted_type = tau_GFAP_T_formatted.groupby('Hemisphere')

print(f'Hemisphere types: {tau_GFAP_T_formatted_type.groups.keys()}')

# Left Hemisphere
tau_GFAP_T_formatted_L = tau_GFAP_T_formatted_type.get_group('L')
# Right Hemisphere
tau_GFAP_T_formatted_R = tau_GFAP_T_formatted_type.get_group('R')

tau_GFAP_LR = pd.merge(tau_GFAP_T_formatted_L, tau_GFAP_T_formatted_R, 
                          left_on=['AutopsyID'], 
                          right_on=['AutopsyID'], how='outer', suffixes=('_L', '_R'))

# Drop Hemisphere_by_slide {L, R} Columns
tau_GFAP_LR = tau_GFAP_LR.drop(columns=['Hemisphere_L', 'Hemisphere_R'])

# Drop Rows where all the values are NaNs or 0.0

# Specify columns to check
columns_to_check = tau_GFAP_LR.columns.tolist()[1:] # exclude the AutopsyID

# Create a mask where all specified columns are either NaN or 0.0
mask = (tau_GFAP_LR[columns_to_check] == 0) | tau_GFAP_LR[columns_to_check].isna()
rows_to_drop = mask.all(axis=1)

# Drop these rows
tau_GFAP_final = tau_GFAP_LR[~rows_to_drop]

Hemisphere types: dict_keys(['L', 'N', 'R'])

In [65]:
# Count non NaN and non zero values for each column
non_zero_non_nan_counts = (tau_GFAP_final != 0) & tau_GFAP_final.notna()
counts = non_zero_non_nan_counts.sum()

print(counts)

Region
AutopsyID    108
ANG_L         19
ATC_L          1
HIP_L         15
IFC_L         17
M1_L          43
MFC_L         51
OFC_L         56
PC_L          13
S1_L          12
SMTC_L        31
SPC_L         18
V1_L          42
aCING_L       30
aINS_L        11
aITC_L        23
dlPFC_L       14
iPFC_L        16
mPFC_L         0
pCING_L       12
pSTC_L         5
ANG_R         18
ATC_R          0
HIP_R         13
IFC_R         17
M1_R          33
MFC_R         47
OFC_R         51
PC_R          12
S1_R          15
SMTC_R        27
SPC_R         20
V1_R          40
aCING_R       32
aINS_R         8
aITC_R        18
dlPFC_R       18
iPFC_R        16
mPFC_R         0
pCING_R       16
pSTC_R         7
dtype: int64

### Ferritin

In [66]:
tau_Ferritin_T = tau_T[['AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'Ferritin']]

tau_Ferritin_T_formatted = pd.pivot_table(tau_Ferritin_T, values='Ferritin', index=['AutopsyID', 'Hemisphere'], 
                            columns=['Region'], aggfunc=np.sum).reset_index()

# Drop PFC, mePFC regions
tau_Ferritin_T_formatted = tau_Ferritin_T_formatted.drop(columns = ['PFC', 'mePFC'])

# Add in mPFC Columns with NaN values (default - end of the dataframe)
tau_Ferritin_T_formatted['mPFC'] = np.NaN 


# Reorder
new_column_order = ['AutopsyID', 'Hemisphere', 'ANG', 'ATC', 'HIP', 'IFC', 'M1', 'MFC',
                    'OFC', 'PC', 'S1', 'SMTC', 'SPC', 'V1', 'aCING', 'aINS', 'aITC', 
                    'dlPFC', 'iPFC', 'mPFC', 'pCING', 'pSTC']
tau_Ferritin_T_formatted = tau_Ferritin_T_formatted[new_column_order]

tau_Ferritin_T_formatted_type = tau_Ferritin_T_formatted.groupby('Hemisphere')

print(f'Hemisphere types: {tau_Ferritin_T_formatted_type.groups.keys()}')

# Left Hemisphere
tau_Ferritin_T_formatted_L = tau_Ferritin_T_formatted_type.get_group('L')
# Right Hemisphere
tau_Ferritin_T_formatted_R = tau_Ferritin_T_formatted_type.get_group('R')

tau_Ferritin_LR = pd.merge(tau_Ferritin_T_formatted_L, tau_Ferritin_T_formatted_R, 
                          left_on=['AutopsyID'], 
                          right_on=['AutopsyID'], how='outer', suffixes=('_L', '_R'))

# Drop Hemisphere_by_slide {L, R} Columns
tau_Ferritin_LR = tau_Ferritin_LR.drop(columns=['Hemisphere_L', 'Hemisphere_R'])

# Drop Rows where all the values are NaNs or 0.0

# Specify columns to check
columns_to_check = tau_Ferritin_LR.columns.tolist()[1:] # exclude the AutopsyID

# Create a mask where all specified columns are either NaN or 0.0
mask = (tau_Ferritin_LR[columns_to_check] == 0) | tau_Ferritin_LR[columns_to_check].isna()
rows_to_drop = mask.all(axis=1)

# Drop these rows
tau_Ferritin_final = tau_Ferritin_LR[~rows_to_drop]

Hemisphere types: dict_keys(['L', 'N', 'R'])

In [67]:
# Count non NaN and non zero values for each column
non_zero_non_nan_counts = (tau_Ferritin_final != 0) & tau_Ferritin_final.notna()
counts = non_zero_non_nan_counts.sum()

print(counts)

Region
AutopsyID    112
ANG_L         43
ATC_L          0
HIP_L          0
IFC_L          0
M1_L          12
MFC_L         54
OFC_L         56
PC_L           0
S1_L           0
SMTC_L        39
SPC_L          0
V1_L           0
aCING_L       38
aINS_L         0
aITC_L         0
dlPFC_L        0
iPFC_L         0
mPFC_L         0
pCING_L        0
pSTC_L         0
ANG_R         34
ATC_R          0
HIP_R          0
IFC_R          0
M1_R           8
MFC_R         47
OFC_R         40
PC_R           0
S1_R           0
SMTC_R        35
SPC_R          0
V1_R           0
aCING_R       31
aINS_R         0
aITC_R         0
dlPFC_R        0
iPFC_R         0
mPFC_R         0
pCING_R        0
pSTC_R         0
dtype: int64

## TDP43 - Divide into GFAP vs Ferritin

### TDP43 Pathology

In [68]:
tdp_path_T = tdp_T[['AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'TDP43']]

tdp_path_T_formatted = pd.pivot_table(tdp_path_T, values='TDP43', index=['AutopsyID', 'Hemisphere'], 
                            columns=['Region'], aggfunc=np.sum).reset_index()

# Drop mePFC regions
tdp_path_T_formatted = tdp_path_T_formatted.drop(columns = ['diPFC', 'mePFC'])

tdp_path_T_formatted_type = tdp_path_T_formatted.groupby('Hemisphere')

print(f'Hemisphere types: {tdp_path_T_formatted_type.groups.keys()}')

# Left Hemisphere
tdp_path_T_formatted_L = tdp_path_T_formatted_type.get_group('L')
# Right Hemisphere
tdp_path_T_formatted_R = tdp_path_T_formatted_type.get_group('R')

tdp_path_LR = pd.merge(tdp_path_T_formatted_L, tdp_path_T_formatted_R, 
                          left_on=['AutopsyID'], 
                          right_on=['AutopsyID'], how='outer', suffixes=('_L', '_R'))

# Drop Hemisphere_by_slide {L, R} Columns
tdp_path_LR = tdp_path_LR.drop(columns=['Hemisphere_L', 'Hemisphere_R'])

# Drop Rows where all the values are NaNs or 0.0

# Specify columns to check
columns_to_check = tdp_path_LR.columns.tolist()[1:] # exclude the AutopsyID

# Create a mask where all specified columns are either NaN or 0.0
mask = (tdp_path_LR[columns_to_check] == 0) | tdp_path_LR[columns_to_check].isna()
rows_to_drop = mask.all(axis=1)

# Drop these rows
tdp_path_final = tdp_path_LR[~rows_to_drop]

Hemisphere types: dict_keys(['B', 'L', 'N', 'R'])

In [69]:
tdp_path_final

Region,AutopsyID,ANG_L,ATC_L,HIP_L,IFC_L,M1_L,MFC_L,OFC_L,PC_L,S1_L,...,SPC_R,V1_R,aCING_R,aINS_R,aITC_R,dlPFC_R,iPFC_R,mPFC_R,pCING_R,pSTC_R
0,1999-170,0.001215,NaN,0.002852,NaN,0.001944,0.000000,0.002450,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1999-224,0.001056,NaN,NaN,NaN,NaN,0.002274,0.000669,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-108,0.006038,NaN,0.002879,NaN,0.006326,NaN,0.003732,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001-122,0.000718,NaN,NaN,NaN,0.000583,0.000499,0.001650,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-197,0.000837,NaN,0.001025,NaN,0.002730,NaN,0.002443,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2014-232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000023,0.000767,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,2015-116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000036,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,2016-046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000123,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,2017-134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,2018-066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000537,0.004337,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### GFAP

In [70]:
tdp_GFAP_T = tdp_T[['AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'GFAP']]

tdp_GFAP_T_formatted = pd.pivot_table(tdp_GFAP_T, values='GFAP', index=['AutopsyID', 'Hemisphere'], 
                            columns=['Region'], aggfunc=np.sum).reset_index()

print(tdp_GFAP_T_formatted.columns)

print(len(tdp_GFAP_T_formatted.columns))

Index(['AutopsyID', 'Hemisphere', 'ANG', 'ATC', 'HIP', 'IFC', 'M1', 'MFC',
       'OFC', 'PC', 'S1', 'SMTC', 'SPC', 'V1', 'aCING', 'aINS', 'aITC',
       'diPFC', 'dlPFC', 'iPFC', 'mPFC', 'mePFC', 'pCING', 'pSTC'],
      dtype='object', name='Region')
24

In [71]:
tdp_GFAP_T = tdp_T[['AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'GFAP']]

tdp_GFAP_T_formatted = pd.pivot_table(tdp_GFAP_T, values='GFAP', index=['AutopsyID', 'Hemisphere'], 
                            columns=['Region'], aggfunc=np.sum).reset_index()

# Drop mePFC regions
tdp_GFAP_T_formatted = tdp_GFAP_T_formatted.drop(columns = ['diPFC', 'mePFC'])

tdp_GFAP_T_formatted_type = tdp_GFAP_T_formatted.groupby('Hemisphere')

print(f'Hemisphere types: {tdp_GFAP_T_formatted_type.groups.keys()}')

# Left Hemisphere
tdp_GFAP_T_formatted_L = tdp_GFAP_T_formatted_type.get_group('L')
# Right Hemisphere
tdp_GFAP_T_formatted_R = tdp_GFAP_T_formatted_type.get_group('R')

tdp_GFAP_LR = pd.merge(tdp_GFAP_T_formatted_L, tdp_GFAP_T_formatted_R, 
                          left_on=['AutopsyID'], 
                          right_on=['AutopsyID'], how='outer', suffixes=('_L', '_R'))

# Drop Hemisphere_by_slide {L, R} Columns
tdp_GFAP_LR = tdp_GFAP_LR.drop(columns=['Hemisphere_L', 'Hemisphere_R'])

# Drop Rows where all the values are NaNs or 0.0

# Specify columns to check
columns_to_check = tdp_GFAP_LR.columns.tolist()[1:] # exclude the AutopsyID

# Create a mask where all specified columns are either NaN or 0.0
mask = (tdp_GFAP_LR[columns_to_check] == 0) | tdp_GFAP_LR[columns_to_check].isna()
rows_to_drop = mask.all(axis=1)

# Drop these rows
tdp_GFAP_final = tdp_GFAP_LR[~rows_to_drop]

Hemisphere types: dict_keys(['B', 'L', 'N', 'R'])

In [72]:
print(len(tdp_GFAP_T_formatted_type.groups['B']))
print(len(tdp_GFAP_T_formatted_type.groups['L']))
print(len(tdp_GFAP_T_formatted_type.groups['R']))
print(len(tdp_GFAP_T_formatted_type.groups['N']))

1
73
62
43

In [73]:
# Count non NaN and non zero values for each column
non_zero_non_nan_counts = (tdp_GFAP_final != 0) & tdp_GFAP_final.notna()
counts = non_zero_non_nan_counts.sum()

print(counts)

Region
AutopsyID    89
ANG_L        12
ATC_L         0
HIP_L        10
IFC_L        11
M1_L         27
MFC_L        48
OFC_L        59
PC_L          8
S1_L          8
SMTC_L       21
SPC_L         7
V1_L         27
aCING_L      30
aINS_L        8
aITC_L       14
dlPFC_L       0
iPFC_L       11
mPFC_L        0
pCING_L       9
pSTC_L        2
ANG_R         9
ATC_R         1
HIP_R         5
IFC_R         6
M1_R         17
MFC_R        39
OFC_R        51
PC_R          4
S1_R          3
SMTC_R       19
SPC_R         8
V1_R         23
aCING_R      29
aINS_R        2
aITC_R        9
dlPFC_R       0
iPFC_R        7
mPFC_R        0
pCING_R       4
pSTC_R        2
dtype: int64

### Ferritin

In [74]:
tdp_Ferritin_T = tdp_T[['AutopsyID', 'BlockID', 'Hemisphere', 'Region', 'Ferritin']]

tdp_Ferritin_T_formatted = pd.pivot_table(tdp_Ferritin_T, values='Ferritin', index=['AutopsyID', 'Hemisphere'], 
                            columns=['Region'], aggfunc=np.sum).reset_index()

# Drop diPFC, mePFC regions
tdp_Ferritin_T_formatted = tdp_Ferritin_T_formatted.drop(columns = ['diPFC', 'mePFC'])

tdp_Ferritin_T_formatted_type = tdp_Ferritin_T_formatted.groupby('Hemisphere')

print(f'Hemisphere types: {tdp_Ferritin_T_formatted_type.groups.keys()}')

# Left Hemisphere
tdp_Ferritin_T_formatted_L = tdp_Ferritin_T_formatted_type.get_group('L')
# Right Hemisphere
tdp_Ferritin_T_formatted_R = tdp_Ferritin_T_formatted_type.get_group('R')

tdp_Ferritin_LR = pd.merge(tdp_Ferritin_T_formatted_L, tdp_Ferritin_T_formatted_R, 
                          left_on=['AutopsyID'], 
                          right_on=['AutopsyID'], how='outer', suffixes=('_L', '_R'))

# Drop Hemisphere_by_slide {L, R} Columns
tdp_Ferritin_LR = tdp_Ferritin_LR.drop(columns=['Hemisphere_L', 'Hemisphere_R'])

# Drop Rows where all the values are NaNs or 0.0

# Specify columns to check
columns_to_check = tdp_Ferritin_LR.columns.tolist()[1:] # exclude the AutopsyID

# Create a mask where all specified columns are either NaN or 0.0
mask = (tdp_Ferritin_LR[columns_to_check] == 0) | tdp_Ferritin_LR[columns_to_check].isna()
rows_to_drop = mask.all(axis=1)

# Drop these rows
tdp_Ferritin_final = tdp_Ferritin_LR[~rows_to_drop]

Hemisphere types: dict_keys(['B', 'L', 'N', 'R'])

In [75]:
# Count non NaN and non zero values for each column
non_zero_non_nan_counts = (tdp_Ferritin_final != 0) & tdp_Ferritin_final.notna()
counts = non_zero_non_nan_counts.sum()

print(counts)

Region
AutopsyID    87
ANG_L        30
ATC_L         0
HIP_L         0
IFC_L         0
M1_L          5
MFC_L        40
OFC_L        55
PC_L          0
S1_L          0
SMTC_L       37
SPC_L         0
V1_L          0
aCING_L      41
aINS_L        0
aITC_L        0
dlPFC_L       0
iPFC_L        0
mPFC_L        0
pCING_L       0
pSTC_L        0
ANG_R        32
ATC_R         0
HIP_R         0
IFC_R         0
M1_R          5
MFC_R        32
OFC_R        46
PC_R          0
S1_R          0
SMTC_R       32
SPC_R         0
V1_R          0
aCING_R      33
aINS_R        0
aITC_R        0
dlPFC_R       0
iPFC_R        0
mPFC_R        0
pCING_R       0
pSTC_R        0
dtype: int64

# Get Region Name Lists

In [76]:
LabelNames = tau_GFAP_final.columns[1:]

# Mapping GFAP, Ferritin Regions to Atlas regions

In [77]:
# Load the Look up table matching Atlas Region names to Atlas Labels(Index)
pathLUT = pd.read_csv(os.path.join(dataDir,'schaefer_path_20210719_20220328.csv'))

# Load the Look up table matching Pathology Region names to Atlas Region names
AtlasToPathLUT = pd.read_excel(os.path.join(dataDir,'NewFTDData','PathToAtlasLUT_5_10_2023(mePFC_PFC_Ignored).xlsx'))

# Using AtlasToPathLUT get the Pathology Regions and match them to Atlas Regions (Index 1~400 regions)
# Return CoM for each Pathology Regions (Single Pahtology Regions match to multiple Atlas Regions, 
# therefore get Mean Value). Theses are unordered.
# Also return list of Atlas regions index corrresponding to Pathology regions. Theses are unordered.
pathCoMunordered, pathToAtlasIndexunordered = findPathCoM.findPathCoM(pathLUT, AtlasToPathLUT, 
                                                                      NetworkDataGeneral['NetworkDataGeneral'][0,0]['Schaefer400x7']['CoM'][0, 0])

# Get List of all regions of pathology we can map to 3D Atlas (out of 22) in Alphabetical Order
# ['ANG', 'ATC', 'HIP', 'IFC', 'M1', 'MFC', 'OFC', 'PC', 'S1', 'SMTC', 'SPC', 'V1', 'aCING', 'aINS', 
# 'aITC', 'dlPFC', 'iPFC', 'mPFC', 'pCING', 'pSTC']
pathNames_3D_Map = np.sort(AtlasToPathLUT["PathSpreadSheetNames"].values)

# sn - denote the number of areas we are able to map to 3D Atlas
sn = len(pathNames_3D_Map)

# Ordering the CoM so that it matches the order of Regions in the Pathology Dataset - %AO (Columns)
pathCoM = np.empty((sn,3,2)) # One path regions corresponds to multiple atlas region
pathToAtlasIndex = [[None, None] for _ in range(sn)]

for s in range(sn):
    idx = AtlasToPathLUT[AtlasToPathLUT.PathSpreadSheetNames == pathNames_3D_Map[s]].index[0] 
    pathCoM[s,:,:] = pathCoMunordered[idx, :, :]
    pathToAtlasIndex[s] = pathToAtlasIndexunordered[idx]

# pathCoM and pathToAtlasIndex are ordered by the order of pathNames_3D_Map 
# (= Ordering of regions same as in tdp_Ferritin_final(...) Dataset Columns Left to Right)

# Compute Log %AO

### Compute Log %AO of Tau/TDP (GFAP, Ferritin) Values

In [78]:
# Convert 0.0 values into NaN --> 0.0 get calculated for Log %AO
tau_GFAP_final.replace(0, np.nan, inplace=True)
tau_Ferritin_final.replace(0, np.nan, inplace=True)
tdp_GFAP_final.replace(0, np.nan, inplace=True)
tdp_Ferritin_final.replace(0, np.nan, inplace=True)

tau_path_final.replace(0, np.nan, inplace=True)
tdp_path_final.replace(0, np.nan, inplace=True)

/var/folders/d_/hlp96bh14c98xy43dzm6gp6c0000gn/T/ipykernel_66966/3926767433.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tau_GFAP_final.replace(0, np.nan, inplace=True)
/var/folders/d_/hlp96bh14c98xy43dzm6gp6c0000gn/T/ipykernel_66966/3926767433.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tau_Ferritin_final.replace(0, np.nan, inplace=True)
/var/folders/d_/hlp96bh14c98xy43dzm6gp6c0000gn/T/ipykernel_66966/3926767433.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tdp_GFAP_final.replace(0, np.nan, inplace=True)
/var/folders/d_/hlp96bh14c98xy43dzm6gp6c0000gn/T/ipykernel_66966/3926767433.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tdp_Ferritin_final.replace(0, np.nan, inplace=True)
/var/folders/d_/hlp96bh14c98xy43dzm6gp6c0000gn/T/ipykernel_66966/3926767433.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tau_path_final.replace(0, np.nan, inplace=True)
/var/folders/d_/hlp96bh14c98xy43dzm6gp6c0000gn/T/ipykernel_66966/3926767433.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tdp_path_final.replace(0, np.nan, inplace=True)

In [79]:
# Get Log %AO of 20x2 regions
GFAP_TAU = np.ma.log(tau_GFAP_final.iloc[:, 1:].values + 0.00015).filled(np.nan) 
Ferr_TAU = np.ma.log(tau_Ferritin_final.iloc[:, 1:].values + 0.00015).filled(np.nan) 

GFAP_TDP = np.ma.log(tdp_GFAP_final.iloc[:, 1:].values + 0.00015).filled(np.nan) 
Ferr_TDP = np.ma.log(tdp_Ferritin_final.iloc[:, 1:].values + 0.00015).filled(np.nan) 

PATH_TAU = np.ma.log(tau_path_final.iloc[:, 1:].values + 0.00015).filled(np.nan) 
PATH_TDP = np.ma.log(tdp_path_final.iloc[:, 1:].values + 0.00015).filled(np.nan)

# Save the Dataset and Variables

## Save sn

In [80]:
with open(os.path.join(gfap_ferritin_dataDir, 'sn.pkl'), 'wb') as f:
    pickle.dump(sn, f)
f.close()

## Save pathCoM, pathToAtlasIndex

In [81]:
with open(os.path.join(gfap_ferritin_dataDir, 'pathCoM.pkl'), 'wb') as f:
    pickle.dump(pathCoM, f)
f.close()

with open(os.path.join(gfap_ferritin_dataDir, 'pathToAtlasIndex.pkl'), 'wb') as f:
    pickle.dump(pathToAtlasIndex, f)
f.close()

## Save LabelNames

In [82]:
# LabelNames
with open(os.path.join(gfap_ferritin_dataDir, 'LabelNames.pkl'), 'wb') as f:
    pickle.dump(LabelNames, f)
f.close()

## Save TAU and TDP (GFAP, Ferritin) Data (Log %AO)

In [83]:
# GFAP_TAU
with open(os.path.join(gfap_ferritin_dataDir, 'GFAP_TAU.pkl'), 'wb') as f:
    pickle.dump(GFAP_TAU, f)
f.close()
# Ferr_TAU
with open(os.path.join(gfap_ferritin_dataDir, 'Ferr_TAU.pkl'), 'wb') as f:
    pickle.dump(Ferr_TAU, f)
f.close()

# GFAP_TDP
with open(os.path.join(gfap_ferritin_dataDir, 'GFAP_TDP.pkl'), 'wb') as f:
    pickle.dump(GFAP_TDP, f)
f.close()
# Ferr_TDP
with open(os.path.join(gfap_ferritin_dataDir, 'Ferr_TDP.pkl'), 'wb') as f:
    pickle.dump(Ferr_TDP, f)
f.close()

# PATH_TAU
with open(os.path.join(gfap_ferritin_dataDir, 'PATH_TAU.pkl'), 'wb') as f:
    pickle.dump(PATH_TAU, f)
f.close()
# PATH_TDP
with open(os.path.join(gfap_ferritin_dataDir, 'PATH_TDP.pkl'), 'wb') as f:
    pickle.dump(PATH_TDP, f)
f.close()